[2016-11-23 02:29] rohbotics opened #2 "Calibrate Raspicam 1 and 2"
Add some default calibrations in here

[2016-11-23 02:29] rohbotics opened #3 "Make Launch files"
Make some default launches to make life easy

[2016-11-23 03:43] rohbotics commented on #3
We need to tune the best FOV for the Raspicam 2

Way more of the modes are cropped.
http://picamera.readthedocs.io/en/release-1.11/_images/sensor_area_2.png

http://picamera.readthedocs.io/en/release-1.11/fov.html

[2016-11-27 00:09] #2 closed, assigned to nobody

[2016-11-27 00:09] #3 closed, assigned to nobody

[2016-11-27 00:12] rohbotics opened #4 "Figure out flipping in Camera V2"

[2016-11-27 01:05] #4 closed, assigned to rohbotics

[2016-11-27 06:01] rohbotics opened #6 "Set_camera_info service is not in raspicam_node/camera"
It should be in raspicam_node/camera but it is in raspicam_node directly

[2016-11-27 07:53] #6 closed, assigned to rohbotics

[2016-11-27 18:38] rohbotics opened #8 "Add support for shutter_speed"
We should be able to set shutter_speed independently from the framerate.

[2016-11-27 22:27] #8 closed, assigned to rohbotics

[2017-01-07 21:42] rohbotics opened #11 "Figure out Packaging"
Issues with packaging:

- Build Infrastructure, Who builds it? How often?
- Proper dependency management (PR #19)
- ABI stability of VideoCore library
- Keeping fake x86/x64 support? Just make a fake Debian package?

[2017-01-07 21:44] rohbotics opened #12 "Merge with the SV-ROS team"

[2017-01-15 22:01] rohbotics commented on #12
After some conversation with Girts, I am starting to pull in all of their changes into our repo.

[2017-01-25 01:52] #12 closed, assigned to rohbotics, anfederman

[2017-01-26 05:13] rohbotics opened #14 "Dynamic reconfigure for shutter_speed"
The SV-ROS merge added dynamic reconfigure, but we need to make it work with the shutter_speed parameter.

[2017-01-26 16:27] rohbotics opened #15 "Cleanup documentation"
There is a lot of legacy cruft.

[2017-01-31 02:21] #15 closed, assigned to rohbotics

[2017-02-24 07:35] #14 closed, assigned to rohbotics

[2017-02-25 22:38] rohbotics commented on #11
After discussing this with @waynegramlich and @jim-v this is the plan:

- I do debbuilds on a daily/weekly basis based on the current release branch (solves ABI issues)
- We merge in #19, but this means that we can't build on x86/x64 anymore due to unresolved deps
  - So we drop all fake x86/x64 support
- Not having x86/x64 support means that there will be unresolved deps for `magni_robot` on non-

[2017-02-26 04:07] rohbotics commented on #11
Ok, I have debbuilds running.

Now we need a place to host them, which I am working on.

[2017-03-01 18:08] rohbotics commented on #11
raspicam_node is available on packages.ubiquityrobotics.com

I think we are at a reasonable point to close this issue

[2017-03-01 18:08] #11 closed, assigned to rohbotics

[2017-06-10 20:28] rohbotics opened #21 "Better Auto Exposure Mode"
Look into a better way than a fixed shutter speed.

[2017-06-18 10:58] bcm0 opened #22 "Support request for usb webcams"
In need for a high update rate I search for ways to quickly transfer images with RPi's wifi.
The package "video_stream_opencv" doesn't offer compression and "usb_cam" is outdated and throws many errors.
Would it be possible to use the Pi's hardware encoder for arbitrary webcams?

EDIT: Sorry, "video_stream_opencv" does indeed offer compressed images
through the topic "camera/image_raw/compressed.

[2017-06-18 21:04] davecrawley commented on #22
At least in principal yes. RPi cams can do high frame rate and fast shutter speed. Currently its 1 cam per 1 Raspberry pi, but you could network together several RPis if you needed more than 1.

You need to spend time looking at the RPi video modes, as there are trade offs between speed, frame rate, and resolution. Ultimately these things are all limited by how quickly the camera can download fram

[2017-07-22 21:51] jim-v commented on #22
The raspicam_node is specific to the Raspberry Pi camera.  There are several ROS nodes for USB cameras,
for example [uvc_camera](http://wiki.ros.org/uvc_camera)

[2017-07-22 21:51] #22 closed, assigned to jim-v

[2017-09-06 02:40] surfertas opened #23 "Performance issues with raspicam_node"
Hi, thanks a lot for contributing raspicam_node. Just out of curiosity what kind of publishing rates do you experience with this node running on a Raspberry Pi 3 Module. I currently have it running with a frequency of ~3.8 hz. Was wondering if this was the expected publishing rate. What kind of publishing rate are you experiencing.

The current set up I have is:
Master machine: Ubuntu 16.04.2 LTS

[2017-09-06 03:16] rohbotics commented on #23
Thanks for opening the issue.

Some more information would be helpful would be:

- How did you install raspicam_node (from source, debs, etc)?
- What command are you using to launch it?
- What is the output of `uname -a` on your system?

[2017-09-06 03:24] surfertas commented on #23
1. I followed the instructions here: https://github.com/UbiquityRobotics/raspicam_node
2. Using this command to launch: roslaunch camerav2_1280x960.launch
3.
Raspi: Linux user_name 4.4.38-v7+ #938 SMP Thu Dec 15 15:22:21 GMT 2016 armv7l armv7l armv7l GNU/Linux

Master: Linux user_name 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-09-06 04:32] rohbotics commented on #23
Thanks.

Some things to try:
Try recompiling with `catkin_make -DCMAKE_BUILD_TYPE=RelWithDebInfo` in your `~/catkin_ws`.

What is the rate of the `camera_info` topic, is it also slow?

Can you also try running the master, raspicam_node, and `rostopic hz /raspicam_node/image/compressed` all on the Pi, with `ROS_MASTER_URI=http://localhost:11311`. This should isolate you from network issues.

I will

[2017-09-06 15:08] surfertas commented on #23
This is the results I get when running everything on the PI. I get a publishing rate of ~30hz.

subscribed to [/raspicam_node/image/compressed]
average rate: 30.035
	min: 0.031s max: 0.036s std dev: 0.00141s window: 29

subscribed to [/raspicam_node/camera_info]
average rate: 30.005
	min: 0.030s max: 0.036s std dev: 0.00132s window: 29

[2017-09-06 15:20] surfertas commented on #23
I get this over my network using raspicam_node:
subscribed to [/raspicam_node/image/compressed]

average rate: 5.957
	min: 0.160s max: 0.180s std dev: 0.00743s window: 5

Using video_stream_opencv package I get below fwiw over my network:
subscribed to [/webcam/image_raw/compressed]
average rate: 30.746
	min: 0.020s max: 0.044s std dev: 0.00578s window: 27

[2017-09-07 01:13] rohbotics commented on #23
I haven't gotten to reproducing the issue yet, but this is another thing that you could try

`rosrun image_transport republish compressed in:=/raspicam_node/image compressed out:=/image/image` on the pi, along with raspicam_node.

and check the rate of `/image/image/compressed` on your computer.

[2017-09-07 03:29] surfertas commented on #23
subscribed to [/raspicam_node/image/compressed]
average rate: 5.249
	min: 0.187s max: 0.196s std dev: 0.00400s window: 4

and after the using "republish"
subscribed to [/image/image/compressed]
average rate: 3.290
	min: 0.302s max: 0.305s std dev: 0.00158s window: 3

Can I understand the design reason not to use image_transport in this case?

[2017-09-07 03:39] rohbotics commented on #23
`image_transport` was not used because the Raspberry Pi image processing pipeline can take advantage of the hardware JPEG compression in the GPU, and `image_transport` can only take raw image data and compress it directly. If there was a way to provide the compressed data directly to image_transport, we would use it.

[2017-09-07 04:28] surfertas commented on #23
Just to confirm that you are getting 30hz over the network using raspicam_node?

[2017-09-07 05:13] rohbotics commented on #23
I just tested it, and I am getting ~10-15hz instead of the expected 30 when running over the network, I am getting 30hz on the pi.

[2017-09-07 05:31] rohbotics commented on #23
I set the resolution lower, down to 640x480 and I am getting the expected 30hz. This is looking more like a network performance issue...

What are the results of iperf between your computer and the pi?
Run `iperf -s` on the pi and `iperf -c {PI_IP}` on your computer.

I am getting:
[code]

[2017-09-08 06:05] surfertas commented on #23
Ok. confirmed I am getting much better with reduced dimensions. 640x480. I get ~25hz. Fwiw, the video_stream_opencv was pumping through images of dimensions 640x480, so we werent comparing apples to apples to earlier. Maybe worth mentioning that if expecting a decent publishing rate over the network need to set with smaller dimensions, as there will be disappointment when they see a rate of 5-6hz.

[2017-09-09 15:46] rohbotics commented on #23
I added a note about publish rate over the network in the troubleshooting section of the README.

If you feel this issue is resolved, go ahead and close it.

Thank you for using raspicam_node, and good luck on whatever you build with it! If you encounter any more problems, don't hesitate to open another issue on this repo.

[2017-09-20 15:57] #21 closed, assigned to jim-v

[2017-09-23 21:34] rohbotics commented on #23
@surfertas

I am closing this issue now. Let us know if you have any further problems with raspicam_node via github.

[2017-09-23 21:34] #23 closed, assigned to rohbotics

[2017-09-28 00:53] koniarik opened #26 "Code Quality"
HI!

I don't want to approach you as being "rude" or something, but as someone who is deeply interested into code quality, I do read code of the software I want to use.

I deeply appreciate effort into making this work, raspberry camera node is of great use to all of us, however...

For past few years, C++ comunity as developed many tools to avoid errors in code which are common.

After reading co

[2017-09-28 01:21] rohbotics commented on #26
Thanks for opening this issue @SquirrelCZE, don't worry you are not being rude at all, code quality is always important.

Improving the overall code quality of raspicam_node is something that we have wanted to focus some time and energy on, but unfortunately hasn't become a priority.

A lot of the code hasn't been touched in a long time (since 2013), and on the verge of "legacy" with its unclear o

[2017-09-28 01:40] koniarik commented on #26
Well, as long as we agree about what should be improved, I think this can work. And with your answer I think I can add this project on my TODO list.

I think it would be nice to pick/agree on things that should be improved and pointed out to anybody in way: "If you seen this in the code, you can refactor it".

Apart from the things pointed out in my previous post, ( pointers, global variables, bad

[2017-09-28 06:44] davecrawley commented on #26
There was a stage when we were trying to follow google's style guide. Now
that a style guide exists for C++ in ROS, we probably should be following
that and Lint-ing against it.

David

On Wed, Sep 27, 2017 at 6:40 PM, SquirrelCZE <notifications@github.com>
wrote:

[2017-09-28 16:31] rohbotics commented on #26
:+1: on using clang-format. Some of our other code uses the ros2 style guide here: https://github.com/ros2/ros2/wiki/Developer-Guide#c-1

A clang-format file can be found here:
https://github.com/UbiquityRobotics/ubiquity_motor/blob/indigo-devel/.clang-format.

I think we can detail the things that need to be changed in a CONTRIBUTING.md file in the top of the repo, and include some information ab

[2017-09-28 18:14] jrlandau commented on #26
*If it ain't broke, don't fix it.*

On Thu, Sep 28, 2017 at 9:31 AM, Rohan Agrawal <notifications@github.com>
wrote:

[2017-09-29 02:46] rohbotics commented on #26
@jrlandau, while I share the general sentiment, I think it is important to work on improving this code for a few reasons.

1. In its current state, adding features or investigating issues is difficult, so we are spending way more time trying to understand the code when debugging than we should be.
2. `raspicam_node` is one of our most popular open-source repositories, so we should strive to keep i

[2017-09-29 05:42] davecrawley commented on #26
Code cleanup is like brushing teeth - its boring and is tempting to defer,
but deferring to long will result in pain.

Rohan - do we have enough test coverage to be confident that when it
compiles and passes all the tests that it will work properly on a robot? If
not perhaps we could suggest to this helpful contributor that he writes
some tests first and then cleans up the code.

What's great is t

[2017-09-30 00:12] rohbotics commented on #26
@davecrawley We do not have any test coverage right now. The testing will have to be manual right now.

Adding automated testing should be a goal, but I am not sure how much is actually testable in the current state.

@SquirrelCZE Can we work together on compiling a list of improvements that can be made? I think a reasonable place to start would be to refactor the main stuff in `raspicam_node.cpp`

[2017-10-03 13:06] koniarik commented on #26
Sorry folks, I was busy:

@rohbotics I think I can help with that.

More than the global variables , I wam wondering about the fact that there are a lot of pretty long functions with pointer mechanics.

A. Could we ellaborate on where it would makes sense to split them? I would like to make this semantically correct, and I am not sure I can do that
- encoder_buffer_callback | that seems plittable

[2017-10-04 06:12] rohbotics commented on #26
A.
encoder_buffer_callback could be split into the part that manages the mmal camera handling stuff, and the part that actually fills the CompressedImage. (Split out lines ~308-330).

create_camera_component I am not sure about. I don't think any of the still_camera_port stuff is being used at the moment, so maybe just get rid of it? I will need to look into this further, as well as do some testin

[2017-10-08 17:34] koniarik commented on #26
Here I am again.

https://github.com/SquirrelCZE/raspicam_node/commit/cc1e5ae6c73a7c6a3ad62bc85cd497d3064b7d4b

I finished the changes for loading parameters in my fork, I was only able to compile it, not test properly, however I think the point is pretty clear.

During the week I should be able to get hands on my rpi and test it in case you won't do it by that time, than I think I can slowly move

[2017-10-08 21:46] ARLunan opened #28 "Ubuntu-Mate (16.04.3) Source Compile error"
Raspberry Pi 3 (Turtlebot3) w/V2 camera, Linux cassini 4.9.53-v7+ #1040 SMP Fri Oct 6 14:19:18 BST 2017 armv7l armv7l armv7l GNU/Linux,
following https://github.com/UbiquityRobotics/raspicam_node/issues/new instructions.

Having to reinstall Ubuntu-Mate/ROS and raspicam_node (due SD Card crash) in my RasPi3, resulting in many compile errors in the "RaspiCamControl.h" . Thus the "make -j4 -l4" fail

[2017-10-08 21:55] rohbotics commented on #28
What is the output of `apt policy libraspberrypi0` and `apt policy libraspberrypi-dev`?

[2017-10-08 22:10] rohbotics commented on #28
@red24dog I looked into it some more, and looks like a bug that slipped in during some code cleanup.

Can you try the `bugfix-#28` branch by running `git checkout bugfix-#28` and trying to compile it again?

Thanks for reporting the issue.

[2017-10-08 22:57] ARLunan commented on #28
Hi and thanks

turtlebot@cassini:~/catkin_ws/src/raspicam_node/include$ apt policy libraspberrypi0
libraspberrypi0:
  Installed: 1.20161215-1~xenial1.0
  Candidate: 1.20161215-1~xenial1.0
  Version table:
 *** 1.20161215-1~xenial1.0 990
        990 http://ppa.launchpad.net/ubuntu-pi-flavour-makers/ppa/ubuntu xenial/main armhf Packages
        100 /var/lib/dpkg/status
turtlebot@cassini:~/catkin_ws/

[2017-10-08 23:00] rohbotics commented on #28
Thanks for the additional details.

For the bugfix, run `git checkout bugfix-#28` in `~/catkin_ws/src/raspicam_node`, then `cd ~/catkin_ws` and then try `catkin_make` again.

Let me know if it works.

[2017-10-08 23:25] ARLunan commented on #28
Fixed the issue. I figured out that I needed to remove the current raspicam_node directory from the /src directory, then clone a new code that contained the bug fix. I appreciate your really fast response! I have a demo planned with some folks tomorrow so glad the Turtlebot 3 works well again.

[2017-10-08 23:32] #28 closed, assigned to rohbotics

[2017-10-08 23:37] rohbotics commented on #28
@red24dog Thanks for reporting this issue, I have merged in the fix.

Good luck with your demo, and anything else you build using raspicam_node!

[2017-10-09 18:45] ARLunan opened #30 "Turtlebot3 RaspiCam/Android-Teleop No Image"
Issue (as originally submitted Oct 4/17 on discourse.ros.org): Trying to view the Raspicam Publication “/raspicam_node/image/compressed” on connected Galaxy Tab ( 4.0.4) Android Teleop but with no image is displayed (though Teleop works).

Action: 1) Inquiring “rosnode info /android/camera_view” that node appears to use a Subscription to “/compressed_image [unknown type]”.
2) I tried a suggested w

[2017-10-10 01:04] rohbotics commented on #30
As the republish is running, can you have the android app connected to the uncompressed stream at /raspicam_node/image.

I don't have any experience with the Android app you are talking about, is it open source/publicly available? Do you have a link?

[2017-10-10 01:54] ARLunan commented on #30
No, if the republish is running , the image is not displayed on the Android Tab, though the Teleop works.

The App, https://play.google.com/store/apps/details?id=com.github.rosjava.android_apps.teleop.indigo <https://play.google.com/store/apps/details?id=com.github.rosjava.android_apps.teleop.indigo&hl=en> &hl=en

http://www.ros.org/wiki/android_teleop

https://github.com/ros-android/android_teleo

[2017-10-10 03:25] davecrawley commented on #30
Before we get too off topic. We have an application that runs on android
that does teleoperation like things, called robot commander, but it also
allows for voice control of the robot. Its here:

https://play.google.com/store/apps/details?id=com.jrlandau.robotcmdr&hl=en

Currently, its tested against our standard image. Voice control includes
commands like "go forward" but if you have some kind of

[2017-10-10 04:14] rohbotics commented on #30
@davecrawley I think robot commander is a slightly different use case, but we should consider adapting it to solve the same problem.

@red24dog Looks like your app is subscribing on a different image topic, try this republish `rosrun image_transport republish compressed in:=/raspicam_node/image compressed out:=/image_raw`.

[2017-10-11 02:14] ARLunan commented on #30
on roscore
Trial 1:machine: rosrun image_transport republish compressed in:=/raspicam_node/image compressed out:=/image_raw. No image on android. rqt_image_view shows a choice of >raspicam_node/image/compressed and /image_raw/compressed both displaying and image.

[code]
A curious observation is that the Subscribed Camera topic is compressed_throttle, on line 68-72  of the https://github.com/ros-a

[2017-10-11 05:19] rohbotics commented on #30
@red24dog I edited your comment for formatting.

Try
`rosrun image_transport republish compressed in:=/raspicam_node/image compressed out:=/compressed_image`

The current version of the app is here: https://github.com/rosjava/android_apps/tree/kinetic/teleop

[2017-10-11 21:51] ARLunan commented on #30
Thanks for then Kinetic teleop repository, which I loaded into Android Studio sucessffuly and will attempt to install on my Android Tab.

Running your revised republish executed ok but still no connection between /android/camer_view and /compressed_image/compressed and no Android Tab image. Its should work as the /android/camera_view and /raspicam msg names now match.

turtlebot@herschel:~$ rosnod

[2017-10-12 00:05] ARLunan commented on #30
I tried the compiled & installed Teleop-Kinetic app on my Android Tab - no joy - though the node info shows same info as my previous posting. If its useful , here's the image_republisher info

turtlebot@herschel:~$ rosnode info /image_republisher_1507764805619549533
--------------------------------------------------------------------------------
Node [/image_republisher_1507764805619549533]
Public

[2017-10-12 13:42] johanms opened #31 "Wrong shutter speed parameter name in launch file"
In the launch files "camerav2_1280x960_10fps.launch" and "camerav2_410x308_30fps.launch", the shutter speed is written to parameter "shutter_speed", but this should be "shutterSpeed"

[2017-11-18 03:55] jim-v opened #32 "We should do a release soon"

[2017-11-19 18:23] rohbotics commented on #32
Try the deb here. https://packages.ubiquityrobotics.com/ubuntu/ubiquity-testing/pool/main/r/ros-kinetic-raspicam-node/ros-kinetic-raspicam-node_0.2.2-0xenial_armhf.deb

You can install it with `dpkg -i`.

If it is good, I will sync to the main repo.

[2017-11-19 20:30] jim-v commented on #32
It looks good:  fiducials are detected when `roslaunch magni_nav aruco.launch` is run, and `roslaunch  raspicam_node camerav2_410x308_30fps.launch` works.

[code]

[2017-11-20 23:27] anfederman opened #33 "Missing Launch File"
magni_demos fiducial_follow.launch
... logging to /home/ubuntu/.ros/log/04b680ea-ce4a-11e7-941f-b92814654e31/roslaunch-ubiquityrobotB5C4-4408.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

while processing /opt/ros/kinetic/share/raspicam_node/launch/camerav2_410x308_30fps.launch:
Invalid roslaunch XML sy

[2017-11-20 23:31] rohbotics commented on #33
Run `sudo apt update` and `sudo apt-upgrade` I just pushed the new release up.

[2017-11-21 05:17] #32 closed, assigned to nobody

[2017-11-29 02:01] thanhndv212 opened #34 "support architecture 'i386' problem"
I tried sudo apt-get update. I got this message.

N: Skipping acquire of configured file 'main/binary-i386/Packages' as repository 'https://packages.ubiquityrobotics.com/ubuntu/ubiquity xenial InRelease' doesn't support architecture 'i386'

How can I overcome this issue? (maybe a version of amd64????)

[2017-11-29 15:42] rohbotics commented on #34
We don't support i386 on our repositories, only amd64 and armhf.

Additionally, raspicam_node is only available for armhf, as it does not actually work on anything other than a Raspberry Pi 2 or 3.

I may be able to help you more if I understood why you are trying to install raspicam_node on an something other than a pi?

[2017-11-30 18:37] davecrawley commented on #34
Yes its important to realize that this is a node for the Raspberry Pi
Camera, which attaches only to the Raspberry Pi set of computer boards. The
Raspberry Pi uses an ARM processor, so its not going to make any sense for
us to build this for anything else. As a practical point we only build for
the latest raspberry pis the Raspberry pi 2 and 3.

If you want to make use of a Raspberry Pi camera in

[2017-12-08 00:01] dajiangsuo opened #35 "cannot locate rosdep definition for [libraspberrypi0]"
I followed the instructions and got the error when running "rosdep install --from-paths src --ignore-src --rosdistro=kinetic -y"

Here is what I did, any clues?
1. I am using Indigo rarther than kinetic
2. I created a new folder "/etc/ros/rosdep/sources.list.d/" and set up a file "30-ubiquity.list" and add this line to it: yaml https://raw.githubusercontent.com/UbiquityRobotics/rosdep/master/raspb

[2017-12-14 00:51] br1-giordano commented on #35
did you updated rosdep (rosdep update) after setting up 30-ubiquity.list?

[2017-12-17 18:10] #33 closed, assigned to nobody

[2017-12-17 18:27] dajiangsuo commented on #35
I ran the update but got another one as to the camera_info_manager:
raspicam_node: No definition of [camera_info_manager] for OS [debian]

[2017-12-17 18:42] rohbotics commented on #35
Looks like you missed the last step of ROS installation, run `sudo rosdep init` and then `rosdep update`.

That should download all the dependency keys.

[2017-12-17 18:49] rohbotics commented on #30
@red24dog

If you are still having problems, I would suggest a ticket on the repo that has the app, or a question on ros answers.

I don't think there is anything we can do on the raspicam_node side to make this work for you.

Good luck!

[2017-12-17 18:49] #30 closed, assigned to rohbotics

[2017-12-17 18:52] dajiangsuo commented on #35
Still doesn't work. Again, I am running ROS on raspberry pi and with Indigo version. Can this be an issue? Thanks

[2017-12-17 18:58] rohbotics commented on #35
What is the output of  `ls /etc/ros/rosdep/sources.list.d/`?

What about `cat /etc/ros/rosdep/sources.list.d/20-default.list`?

[2017-12-17 19:02] dajiangsuo commented on #35
Got "20-default.list  30-ubiquity.list"
**And**
[code]

[2017-12-17 19:06] rohbotics commented on #35
I edited you comment to make the formatting more readable.

Looking into it some more, looks like debian armhf was not supported by ROS Indigo. How did you install ros?

[2017-12-17 19:34] dajiangsuo commented on #35
I am using a hardware platform called "Navio2" on top of raspberrypi and the ros indigo comes with it

[2017-12-20 05:05] rohbotics commented on #35
I think that ROS indigo on debian is the main issue here.

You could try skipping this step and installing all the dependencies manually, but that may be a lot of effort.

Does the OS you are on allow you to install ros packages via apt-get? Like `sudo apt-get install ros-indigo-camera-info-manager`?

[2017-12-26 21:35] #34 closed, assigned to nobody

[2017-12-30 16:56] ll7 opened #36 "camera_component not initialized"
If I type:
[code]
I get the following error:
[code]
The camera is not working and I don't know how to fix this. Any help would be appreciated :-)

[2017-12-30 17:00] ll7 commented on #36
Sorry, forgot one installation step. Thanks for the package.

[2017-12-30 17:00] #36 closed, assigned to nobody

[2018-01-10 02:57] LeonJung opened #37 "How to use the node for camera calibration"
Hi, I'm Leon, an engineer from ROBOTIS
I noticed that this package came from https://github.com/fpasteau/raspicam_node which is currently not in service, and I'm very appreciated that you are continuing management of thus very important package.

By the way, I'm currently doing some works that uses this raspicam package for an official [TurtleBot3 example](http://emanual.robotis.com/docs/en/platfo

[2018-01-10 04:45] rohbotics commented on #37
@ROBOTIS-Leon

Cool to hear that you are using `raspicam_node` in an official Turtlebot3 example.

The image republish node is part of `image_transport` a core ros package, so I don't think it makes sense to avoid pulling it in as a dependency, as it likely will be one anyway.

I am not sure what you mean by 'service response code for camera calibration node' could you clarify this? The package wo

[2018-01-10 05:53] davecrawley commented on #37
@ROBOTIS-Leon <https://github.com/robotis-leon>

I think it would be great if you did a PR request so you can get exactly
what you need. We will promptly review it and merge it in to the main
branch as required. In due course this will make its way on to our standard
Raspberry Pi image. You can get this image at
https://downloads.ubiquityrobotics.com if it is helpful to your future
endeavors.

Req

[2018-01-10 06:59] LeonJung commented on #37
@rohbotics

No problem,
I couldn't find the set_camera_info service from the raspicam_node, but now I found it.

Thank you.

@davecrawley

Thank you for your kindness.
Getting advices from @rohbotics, now all the things are crystal clear.

You can close this issue

[2018-01-12 01:33] rohbotics commented on #37
Glad to help.

Feel free to open issues if you encounter further problems.

[2018-01-12 01:33] #37 closed, assigned to rohbotics

[2018-01-13 09:19] shmm91 opened #38 "[raspicam_node-2] process has died on Raspberry pi3, Linux raspberrypi 4.9.59-v7+"
... logging to /home/pi/.ros/log/dc2f88fc-f841-11e7-b831-b827eb75bfae/roslaunch-raspberrypi-1075.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://raspberrypi:36793/

SUMMARY
========

PARAMETERS
 * /raspicam_node/camera_frame_id: raspicam
 * /raspicam_node/camera_info_url: p

[2018-01-13 15:04] rohbotics commented on #38
What OS are you running on?

Did you install from source or from debs?

[2018-01-14 03:09] shmm91 commented on #38
The OS I use is Raspbian Stretch with desktop.
I have installed ROS Kinetic from source, and git clone the raspicam_node in my workspace, then build it from source.
Do you know how to fix this issue? Thank you !

[2018-01-14 07:58] bthanos opened #39 "Want both raw and compressed topics"
In my project I need to have the raw data from the pi camera sampled and processed using CV.  I find the republish function starts to really jump cpu utilization (and power and heat) at larger frame sizes.  I need to record high res images at 10 fps,   and downscale for image analysis.

Its really useful to have the hardware jpeg encoding,  but it would be better to just make a separate jpeg encod

[2018-01-14 15:42] rohbotics commented on #39
I think adding a parameter to support raw publishing would be pretty useful, I will try to figure out the complexity involved.

I would have to look into having seperate encoder nodes. For h.264, it relies on interframe compression, so I don't think it would work with the standard `image_transport` in ROS. Maybe a node that can record a ROS image topic to a file, but that is getting a bit out of s

[2018-01-15 02:45] rohbotics commented on #35
@dajiangsuo Did you manage to fix your issue?

[2018-01-15 19:40] bthanos commented on #39
Rohan,
Thanks,  sounds good.  I think there is a way to make AVI wrapped motion jpegs using video_record so I can work with that.  Just need to get a raw image topic I can use for the CV.  Much appreciated.  If you need to split apart the raw and compressed outs into two nodes  that will work as well.

[2018-01-18 22:12] AdriannaGmz commented on #35
Hello, I have a similar issue although I'm running Kinetic

As stated in the steps, after downloading the repo into my src folder:
`$ sudo nano /etc/ros/rosdep/sources.list.d/30-ubiquity.list `
and added:
`yaml https://raw.githubusercontent.com/UbiquityRobotics/rosdep/master/raspberry-pi.yaml`
Then
`run rosdep update`
then
`cd ~/catkin_ws`
`rosdep install --from-paths src --ignore-src --rosdistro=

[2018-01-18 23:44] rohbotics commented on #35
What OS are you using?

If ubuntu, which image are you using?

[2018-01-19 00:49] bthanos commented on #39
Rohan
Have been able to assess this?
Thanks
Bill

[2018-01-19 13:22] AdriannaGmz commented on #35
Linux Ubuntu 16.04

[2018-01-19 22:56] rohbotics commented on #35
@AdriannaGmz where did you get your ubuntu install for the pi?

We have tested on both [our image](downloads.ubiquityrobotics.com) and the [Ubuntu Mate](https://ubuntu-mate.org/raspberry-pi/)  image.

Does you install have a `/opt/vc` directory? What is the output of `ls -al /opt/vc`?

[2018-01-21 17:00] rohbotics commented on #39
Looking into this, a separate raw publishing node would have to pull data directly from `camera_video_port` and not setup the encoder at all. This could easily take quite some time to develop/test/debug.

Currently we are focused on tasks critical to the launch of [our robots](https://ubiquityrobotics.com/) in a few months. Because of this we will not really be able to work on this issue for some

[2018-01-21 17:18] rohbotics commented on #38
The only thing I can think of is making sure you have all the dependencies in your source ROS install.

[code]

[2018-01-21 18:51] davecrawley commented on #38
Consider also, if you continue to have difficulty resolving dependencies
that we have a prepared Raspberry Pi image with all the dependencies worked
out already. All you have to do is download the image and write it to a SD
card. This image is known to work although it may contain things that you
do not need.

It can be found here.

https://downloads.ubiquityrobotics.com

[2018-01-21 18:55] davecrawley commented on #39
Please do try to look at the source code yourself, and consider issuing a
Pull Request through github. If this mode can be put in and works properly
without degrading performance (as I'd expect) we'll promptly merge it in to
the main branch - which we obviously intend to continue to support.

David

On Thu, Jan 18, 2018 at 4:49 PM, bthanos <notifications@github.com> wrote:

[2018-01-26 02:29] shmm91 commented on #38
Thank you! I have used the ubiquityrobotics image, and it works well.
Also, the Raspbian Stretch with desktop image seems doesn't support the raspicam_node.

[2018-01-26 02:30] #38 closed, assigned to nobody

[2018-01-28 18:48] AdriannaGmz commented on #35
now is working, thank you. i had to reinstall python

[2018-01-28 18:56] rohbotics commented on #35
Good to hear that your problem is solved.

Good luck building out whatever you are using `raspicam_node` for!

[2018-01-28 18:56] #35 closed, assigned to nobody

[2018-02-22 02:37] chrisspen opened #40 "Horizontal/Vertical flip being ignored"
Hi, like you, I've also been maintaining my own fork of the [raspicam_node project.](https://github.com/chrisspen/raspicam_node) To simplify maintenance, I'd like to drop my project and switch to yours. However, I'm having trouble getting all the same parameters working with your node.

I noticed that you've also implemented the vFlip and hFlip flags to enable the camera's hardware support for ima

[2018-02-22 16:14] rohbotics commented on #40
Thanks for opening an issue.

I would try setting the parameters as bools instead of ints.
Additionally, see if the dynamic reconfigure system allows you to change the parameter. It may be that the dynamic stuff is somehow overwriting the rosparam.

[2018-02-22 17:15] chrisspen commented on #40
I tried changing them to bools. That had no effect.

[2018-02-23 07:52] davecrawley commented on #40
We are absolutely accepting contributions, so feel free to do a PR. @jimv
@rohan what do you think?

David

On Wed, Feb 21, 2018 at 6:37 PM, Chris Spencer <notifications@github.com>
wrote:

[2018-02-24 16:51] rohbotics commented on #40
@chrisspen I think this a bug with how rosparams and dynamic reconfigure are interacting (namely the default dynamic reconfigure setup is overriding the rosparams).

Does using `rosrun rqt_reconfigure rqt_reconfigure` and setting the flips cause the image to flip on your system?

I'll look into the parameter issue.

[2018-03-27 10:57] wezzoid opened #41 "stereo mode"
Hi, how do I use this with the Compute Module to publish nodes for 2 cameras?

[2018-04-02 05:14] dimatura commented on #39
For what it's worth, ROS does support protocols with interframe compression, the `theora_image_transport` plugin for `image_transport` being an example. That said, it's relatively annoying to work with this option, as decoding messages becomes dependent on past messages.

[2018-04-13 18:00] chrissunny94 opened #42 "Raspicam_node generates blackened images where as uvc_camera doesn't produce blackened images ."
I was trying to run the magni_nav , aurco.launch .
It calls the raspicam_node to publish the images , the node generates highly blackened images .

I tried all the different launch files in  raspicam_node . Same result always .(blackened images)

Also , Can I make the fiducial_slam work with uvc_camera node ?
I tried publishing the topics in the correct name , but it didn't work.

Ps:- I am using

[2018-05-21 01:40] timlo94 opened #44 "Cmake error and cannot run raspi node lastest apt update"

[2018-05-21 01:40] timlo94 commented on #44
![20180521_093910](https://user-images.githubusercontent.com/32585422/40286656-ef887638-5c97-11e8-9508-42d988f90e69.jpg)

[2018-05-21 01:42] timlo94 commented on #44
![20180521_094145](https://user-images.githubusercontent.com/32585422/40286689-294c70e0-5c98-11e8-8963-0df101acb7f8.jpg)

[2018-05-25 08:01] ChunJyeBehBeh commented on #36
may I know is which step you forget ?

[2018-05-25 08:42] ChunJyeBehBeh opened #45 "raspicam_node/image_raw"
Hello,

Why my raspicam_node/image_raw topic don't have publisher?

--------------------------------------------------------------------
pi@pi-desktop:~$ rostopic info /raspicam_node/image_raw
Type: sensor_msgs/Image

Publishers: None

Subscribers:
 * /image_view_1527236662447076777 (http://pi-desktop:35575/)

[2018-06-20 13:15] Gil401 opened #46 "set video_device"
Where can I change the video port (such as /dev/video0 /dev/video1)?
If is not possible, how can I use raspicam_node with USB cam?

thanks,
Gil

[2018-06-25 17:36] rohbotics commented on #46
Raspicam_node is for the Raspberry Pi that plugs into the Camera Port of the Raspberry Pi only.

You are probably looking for something like http://wiki.ros.org/uvc_camera

[2018-06-25 17:36] #46 closed, assigned to nobody

[2018-07-22 00:57] rohbotics commented on #44
Somehow I must of missed this issue. Sorry for the very late response.

Is this still an issue?

Looks like you ran out of memory. You can try adding swap with `sudo apt install dphys-swapfile`

[2018-07-22 00:57] #44 closed, assigned to nobody

[2018-07-28 06:07] wsung1 commented on #40
Hi,
I have the almost same problem, namely, the default dynamic reconfigure setup is overriding the rosparams.
As my answer to @rohbotics's question, yes,
$ rosrun rqt_reconfigure rqt_reconfigure
works fine.
However, from the next launching, it gets back to the default, which means the default dynamic reconfigure setup is overriding.
Any update?

[2018-09-05 05:28] amerkay commented on #42
Did you figure this out? I'm having the same trouble.

[2018-09-05 05:29] amerkay commented on #45
Just run this node to republish uncompressed:
`rosrun image_transport republish compressed in:=/raspicam_node/image raw out:=/raspicam_node/image`

[2018-09-05 05:33] chrissunny94 commented on #42
Yes , you can adjust the ISO and other settings from RQT

    rosrun rqt_reconfigure rqt_reconfigure

[2018-09-06 11:49] amerkay commented on #42
I think the problem is my lens, not for low light. Thanks for the reply though.

[2018-09-22 05:02] rohbotics opened #47 "Make raspicam_node write calibration to a user writable file"
Something in ~/.ros probably

[2018-09-23 01:25] #45 closed, assigned to nobody

[2018-09-26 00:19] #47 closed, assigned to rohbotics

[2018-10-14 03:45] rohbotics commented on #39
As part of the refactor I have been looking into this.
It may be possible to use a splitter on the `camera_component` output, with 1 port going to the encoding pipeline, and another to a raw image publisher.

Note that this requires a yuv (I420) to rgb conversion step, which the splitter may be able to perform.

https://www.raspberrypi.org/forums/viewtopic.php?t=189004

[2018-10-14 15:58] #42 closed, assigned to nobody

[2018-10-15 04:50] #31 closed, assigned to rohbotics

[2018-10-15 04:50] #40 closed, assigned to nobody

[2018-10-15 05:31] #39 closed, assigned to rohbotics

[2018-10-15 08:39] jokla opened #52 "Grayscale images"
Hi!

Would it be possible with raspicam_node to get from the raspicam a grayscale image and publish it instead of the color one?

Thank you!

[2018-10-15 13:05] wezzoid opened #53 "camera config path issue?"
Even with one of the demo launch files, the node cannot find the config yaml. It seems as if it's ignoring the config line in the launch file and looking in ~/.ros/camera_info instead.

https://i.imgur.com/CVn7zCS.png

[2018-10-15 14:29] rohbotics commented on #53
The node first loads calibration from the package, then loads from the home directory path.

This allows users to load custom calibration files, even they installed from debs.

[2018-10-15 14:29] #53 closed, assigned to nobody

[2018-10-15 14:30] rohbotics commented on #52
It may be possible, but probably isn't something are going to implement in the near future.

If it is reasonably simple, then its possible that we can add this feature.

[2018-10-17 07:51] realizator commented on #41
+1, the same question.
Raspbian supports stereoscopic mode out of the box (https://www.raspberrypi.org/forums/viewtopic.php?f=43&t=85012&sid=ec557617fabfa9942e5baeec16bf862c)

Raspberry Pi Compute module supports 2 cameras, and using a Pi devboard or ready-to-use boards like StereoPi you have native stereoscopic image.
I can help to develper by providing hardware for tests (StereoPi engineering ve

[2018-10-17 08:01] rohbotics commented on #41
We use the same firmware and kernel as raspbian, so that side of stereoscopic processing should work.

Can you use our image (https://downloads.ubiquityrobotics.com/pi.html) , and see if you can get PiCamera to output stereo?

[2018-10-17 09:27] realizator commented on #41
@rohbotics, it just works! :-) The only thing I did is put dt-blob.bin (device tree for StereoPi) in a boot partition to enable two cameras support.
Thank you!

![scrnsht](https://user-images.githubusercontent.com/6445235/47076608-c9f9de80-d207-11e8-853d-3abffae9022b.png)

[2018-10-17 10:01] realizator commented on #41
@rohbotics, concerning @wezzoid question - how do you think, what is the simplest way to publish nodes for stereo processing?

[2018-10-17 15:12] rohbotics commented on #41
I'll have to look into the mmal format for stereo, but the way to do it is basically publish 2 separate images and use `stereo_image_proc` for combining them into a `stereo_msgs/DisparityImage` in ROS.

A couple concerns:
* I think we will be limited to raw publishing, or will have to find a way to cut a jpeg in half to publish it separately
* Calibration, how do we save calibration data for each

[2018-10-17 16:55] realizator commented on #41
As an idea - you can use two cameras separately. In raspivid I use -cs 0 and -cs 1 to use cameras independently and simultaneously  (in my case it is front view and rear view on a drone, not stereoscopic mode). The only disadvantage is not so good image synchronization in comparison with -3d single image capture mode.

But as first step for tests it may be Ok.
Is it possible to load and use two in

[2018-10-17 17:08] rohbotics commented on #41
Being able to do select a camera for each instance of the node would be a really good first step in supporting stereo.

I'll look into it.

[2018-10-17 19:45] davecrawley commented on #41
Stereo is currently supported on the compute module. Can it be made to work
on the RPi 3B+? CSI is able to support up to 4 cameras on the same bus so
I'd expect to enable stereo cam we'd just need a different design of camera
cable - is that correct or am I way off?

David

On Wed, Oct 17, 2018 at 10:08 AM Rohan Agrawal <notifications@github.com>
wrote:

[2018-10-18 06:47] jokla commented on #52
Hi!

Thank you very much for the answer!

[2018-10-19 09:22] wezzoid commented on #41
I used the picamera Python lib to get stereo working for my project (https://hackaday.io/project/159212-augmented-mekamon-robot) I put the camera in stereo mode, loaded the data in as an array, chopped it in half and published the left & right frames to ROS, basically.  Doing it in Python is slow. To get around this I put the camera in top-bottom stereo mode, which means chopping the image data in

[2018-10-19 16:26] ijsmallman opened #56 "Raw output errors"
Decoding the CompressedImage stream is adding a prohibitive amount of latency to my application, so I'm trying to investigate using raw images instead.

I've seen in your code you can enable raw Image output on raspicam_node/image by adding `<param name="enable_raw" value="true"/>` to the launch file.

This seems to work, but rviz and my node(s) are struggling to process the topic. I get the follo

[2018-10-19 23:57] rohbotics commented on #56
Are you running the latest code from source? (the kinetic branch)

Running a modified version of `roslaunch raspicam_node  camerav2_1280x960_10fps.launch` is working fine for me in both rqt_image_view and rviz

[2018-10-20 00:25] rohbotics commented on #52
Keeping the issue open, in case someone wants to implement this in the future :)

[2018-10-20 18:17] davecrawley commented on #52
Giovanni,

If grayscale images is something you want please take a look at the code,
implement your change, and issue it as a pull request. We'll review it, put
it through our testing and assuming you agree to contribute it and the code
quality is good we'll include it in the main-line branch. This will help
everyone!!

David

On Wed, Oct 17, 2018 at 11:47 PM Giovanni Claudio <notifications@github

[2018-10-21 09:20] realizator commented on #41
@wezzoid thank you for your sample code! It is right this example that we were looking for! I will try to combine it with @rohbotics camera selection support from his last pull request after tests.

[2018-10-22 09:45] ijsmallman commented on #56
I tried switching to the kinetic branch (and confirmed the RPi is indeed running kinetic). I also tried running a modified version of `camerav2_1280x960_10fps.launch` as you did and I am still getting those errors.

The only other detail I can think that might be relevant is that (in addition to processing the images onboard) I am viewing the image stream on my laptop connected via wifi. I have se

[2018-10-22 21:02] rohbotics commented on #56
Ok, my tests were also with a laptop connected over WiFi.

Does `rostopic echo` of the image topic return data on the laptop?

Also make sure you are running ROS Kinetic on your laptop as well, and have up-to-date packages on both the Pi and the Laptop.

[2018-10-26 01:05] DavidRoss3 commented on #52
Hi, I am a developer who is new to github and open source in general. I happen to own a pi a+ with a camera module v1, and I have some c/c++ experience and ROS exposure.

I think this issue is something that I could look into starting tomorrow. Ill try to get up to date with the source code in the mean time.

[2018-11-08 18:45] ghost opened #59 "Raspbian installation: "No definition of [dynamic_reconfigure] for OS [debian]""
I followed the installation guide but when I run:

`rosdep install --from-paths src --ignore-src --rosdistro=indigo -y`

I get this error:

`ERROR: the following packages/stacks could not have their rosdep keys resolved
to system dependencies:
raspicam_node: No definition of [dynamic_reconfigure] for OS [debian]`

I'm using a Raspberry 3 b+ with Raspbian 9 Stretch and a Indigo ROS distro.

[2018-11-09 06:05] rohbotics commented on #59
Indigo doesn't technically support debian (or raspbian), so your going to have trouble resolving packages.

How did you install ROS?

[2018-11-09 06:10] ghost commented on #59
I used this: http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Indigo%20on%20Raspberry%20Pi tut.
But does Kinetic support Raspbian?

[2018-11-09 14:55] rohbotics commented on #59
http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Kinetic%20on%20the%20Raspberry%20Pi

[2018-11-09 17:00] ghost commented on #59
Ok, dumb question but I can't find instructions to remove the old indigo distro..

[2018-11-09 22:07] CzokNorris opened #60 "Error when installing "Some packages could not be installed"."
By using the command from the manpage, I get:
pi@raspberrypi:~/rosbots_catkin_ws $ sudo apt install ros-kinetic-raspicam-node

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not y

[2018-11-12 04:55] rohbotics commented on #60
If you installed ROS from source (which it seems you did) you cannot use the debian for raspicam_node.

[2018-11-20 11:01] realizator commented on #41
@wezzoid thank you for your code sharing. After minor changes it works fine:

![screenshot from 2018-11-20 10-31-23](https://user-images.githubusercontent.com/6445235/48769298-5f3b3780-eccc-11e8-9a12-2b1c7ef09525.png)

BTW I had tried to contact you on hackaday.io but did not received any answer. Are you still there?

[2018-11-20 21:49] Kiana33 commented on #59
@rohbotics
Hi, I have got a similar issue here:
`raspicam_node no definition of [camera_info_manager] for OS [debian]`

I have also tried
`sudo apt-get install ros-kinetic-camera-info-manager`
and
`sudo apt-get install camera-info-manager`
They didn't work at all.

I'm using ROS kinetic and Raspian OS. The camera is V2. Could you help me figure that out?

[2018-11-21 01:58] rohbotics commented on #41
@realizator That is very cool! Looks like I am going to have to pick up a StereoPi :smile:

[2018-11-21 08:17] realizator commented on #41
@rohbotics StereoPi will be available after our coming-soon crowdfunding (here is [pre-launch](https://www.crowdsupply.com/virt2real/stereopi) page), but I can send you one of my current revision board for experiments right now. I just need your address for parcel.
I wrote you email to send2rohan@... but did not receive a response (possibly my message was marked as a spam). You can write me to rea

[2018-11-21 09:33] wezzoid commented on #41
@realizator - awesome stuff!
And that StereoPi board looks VERY interesting!
I clearly haven't been checking my Hackaday, oops.

[2018-11-26 11:21] realizator commented on #41
@wezzoid, @rohbotics - I put all my files used for tests here: https://github.com/realizator/StereoPi-ROS-depth-map-test
May be they will be useful.

[2018-12-02 00:09] timzarhansen opened #61 "Framerate at 1/3"
I am using this package now for a few weeks. But suddenly the frame rate of the published images is around 1/3 of the frame rate I use while initializing the node. 10->3.3 or 60->20

I use v2 cam and ROS Kinetic. I already re-installed the package from source and not from source.

any idea?

[2018-12-02 00:14] rohbotics commented on #61
Are you looking at the frame rate over the network? Running over the network can lead to pretty bad framerates, especially with wifi.

[2018-12-02 00:58] timzarhansen commented on #61
sorry totally forgot to mention that,
both. On the py i get 1/3 and in the network (wifi) i get most 3 fps(at 1280x960), which is not a big deal. if i use the lower resolution, like 410x... i still get 1/3 so this seems to not make a difference.

Edit: My current solution is now to use the backup from 2 weeks ago, i think i broke something anywhere. now its 30 fps again if i want 30 fps thanks for

[2019-01-09 08:19] ghost opened #63 "The topic names shouldn't start with raspicam_node"
Hi,

Thank you very much for the work. I have only one problem, the topic names shouldn't start with raspicam_node. The topic names should be as minimal as possible, to allow using namespaces.

In my project I want the topics to be /robotname/image, /robotname/image/compressed...
Normally this should be as easy as adding a namespace on the raspicam node, but currently I have to manually remap the

[2019-01-10 06:06] rohbotics commented on #63
I think this is something we could consider for future ROS distros we release into (like melodic), but is unlikely.

But why do you say remapping topics is not future proof? It is a perfectly standard ROS feature and will not introduce any breaking changes to raspicam.

[2019-01-10 07:49] ghost commented on #63
Maybe "not future proof" is not exactly how I should have explained it.
What I meant, is that the launch file now needs to know every topic which is published by the node and remap it. If I was using a namespace, should you add, remove, rename a topic in the future, all the topics will still be correctly mapped.

For raspicam_node, I don't understand why the topics are prefixed with raspicam_node/

[2019-01-12 17:40] rohbotics commented on #63
That makes a lot of sense, I think a camera prefix parameter with a default of "raspicam_node" makes a lot of sense.

Can you submit a PR with this change?

[2019-01-13 11:23] ghost commented on #63
I just had a look at the code, I thought you were hardcoding the "raspicam_node" in front of the topic names, but you are actually using the node handle with a private namespace for some reason.

  ros::init(argc, argv, "raspicam_node");
  ros::NodeHandle n("~");

I can't use the prefix parameter I suggested because of that. I need the node handle to get the param and I would need the param to ini

[2019-01-13 17:19] rohbotics commented on #63
I think the best solution is to use a private node handle for parameters, and a global one for topics.

I am not opposed to manually prefixing the topic name with the node name if the camera_prefix is not specified.

[2019-01-15 09:13] ghost commented on #63
Using two different node handles is indeed a good idea.
I started implement the prefix option but it's not a good solution.
The problem is that by setting the topics prefix to "camera_x", we end up with:

Topics example: "/camera_x/image"
Param exaple: "/raspicam_node/the_param"

This doesn't look very intuitive.
The param should be "/camera_x/raspicam_node/the_param" imho, the camera is the main

[2019-01-15 18:45] ghost commented on #63
#64 PR Created

[2019-01-20 20:48] sean85914 commented on #61
I got the same result even if I set the master at pi itself.
I used 640*480 with 30 fps but when I

to compressed image, it only got about 10 hz.

[2019-01-20 21:01] timzarhansen commented on #61
Yea i just live with it. For Performance it does not matter in my experience.
just use 90 hz if you want 30 ;) thats how i do it now

[2019-01-21 18:10] #63 closed, assigned to nobody

[2019-01-22 17:01] sethpoh opened #65 "raspicam_node stop publishing after a few seconds of launching"
Hi everyone,

I was trying to run the raspicam_node with a v1.3 camera attached to a Raspberry Pi 3B+ installed with the Ubiquity Robotics Raspberry Pi image for camera calibration. I tried the following launch command -

roslaunch raspicam_node camerav2_1280x960_10fps.launch enable_raw:=true

I can see with rostopic list that it was publishing correctly for a few seconds then it stops. I tried wi

[2019-01-24 05:12] WLwind commented on #65
Have you solved this problem? It happens to me too. The raspicam_node always works for less than 20s, and then stops publishing images.

[2019-01-24 08:08] sethpoh commented on #65
Not really. But it seems that if I set enable_imv:=true, the publishing can carry on indefinitely.  But I will probably take a hit on the fps by keeping this enabled.

Some other things I have tried to diagnose this issue are -
1. Swap camera V1.3 to V2.1
2. Swap the Raspberry pi 3B+ for another.
3. Refreshing from the git repository and recompiling.
4. Played around with the resolution, frame rat

[2019-01-27 16:40] rohbotics commented on #65
Are you running off of the master branch, or the last release?

[2019-01-27 20:09] rohbotics commented on #65
Ok I am able to reproduce this. If imv is disabled, then image publishing silently stops after a few seconds.

[2019-01-27 21:02] #65 closed, assigned to rohbotics

[2019-01-28 02:01] rohbotics commented on #56
Closing due to age, feel free to reopen if you are still facing the issue

[2019-01-28 02:01] #56 closed, assigned to rohbotics

[2019-01-28 02:31] #26 closed, assigned to rohbotics, koniarik

[2019-01-28 06:47] AlbertLIN95 commented on #61
I use 120 hz and got 43hz. For 90 hz, I got 34. It is amazing....

[2019-01-28 06:49] rohbotics commented on #61
Maybe I should add a multiply by 3 to the code :)

More seriously, after looking into this I have no idea what is causing the frame rate not to be correct.

[2019-01-29 05:59] AlbertLIN95 commented on #61
The frame rate is simply 1/3. The wrong frame rate is due the network
issue. (Even if it is wired connection. The network increase the frame rate
lol.....)

Rohan Agrawal <notifications@github.com> 於 2019年1月28日 週一 下午2:49寫道：

[2019-01-29 07:56] sethpoh commented on #65
Hi @rohbotics, thanks for the help. Now the raspicam_node works reliably without needing the imv to be enabled.

[2019-02-02 16:33] rohbotics commented on #61
I don't have a pi for the next couple days, could someone try changing the VIDEO_FRAME_RATE_DEN to equal 1?

https://github.com/UbiquityRobotics/raspicam_node/blob/kinetic/src/raspicam_node.cpp#L83

I think the DEN means denominator, so this is actually just dividing by 3.

[2019-02-04 01:53] #61 closed, assigned to rohbotics

[2019-02-06 20:57] timzarhansen commented on #60
I think it should work if you install the right dependencies by yourself I just installed it on Debian raspbian stretch. (now after 3 Days)

But i needet to adjust one think in the Cmake file and used catkin build with a custom version of OpenCV

[code]

you additionally have to insert/ add std_srvs as another dependencie
else you dont find std_srvs /Empty.h (at least it was for me the case)

This

[2019-02-10 03:32] rohbotics opened #70 "Diagnostic Publish"
Use a diagnosed publisher, ensure good frame rate.

[2019-03-01 07:16] nirvenesh20 commented on #41
I'm very sorry guys, i'm actually developing a visual for monocular visual impaired patients on which i am developing a depth map, i'd like to experiment with your code but i am not sure how to enable the stereoscopic camera setup on the compute module. would really appreciate that

[2019-03-01 07:37] realizator commented on #41
@nirvenesh20 If you are talking about Raspberry Pi Development board with Compute Module and two cameras - here is the manual from RPi Foundation: https://www.raspberrypi.org/documentation/hardware/computemodule/cmio-camera.md

I'd like to notice that by default the Devboard have 1 adapter for camera and another for connecting display. So you need to buy second adapter to connect two cameras (http

[2019-03-01 07:52] nirvenesh20 commented on #41
Thank You very much for the swift reply
I've gotten a PiZero camera cable as an alternative, I'm not sure if it affects in any way , also I'm booting with an image link you provided for ROS and using a Waveshare compute module IO board with CM3L. Any further advice on my configuration?

[2019-03-01 07:59] realizator commented on #41
@nirvenesh20 Ok, now I understand your problem.
If you use our image, you also use our `dt-blob.bin` This file explains to Raspbian how the second camera is connected. So you need to connect wires as explained in Raspberry manual, and put `dt-blob.bin` from their manual to /boot partition instead of our `dt-blob.bin`. It should work.
The easiest way to test if it is everything Okay with cameras ar

[2019-03-01 08:07] nirvenesh20 commented on #41
@realizator Thank you very much, will try it and keep you informed
You're a saviour

[2019-03-01 13:04] nirvenesh20 commented on #41
@realizator unfortunately, using your image from
[https://downloads.ubiquityrobotics.com/pi.html](url) and the`dt-blob.bin` file from [
https://www.raspberrypi.org/documentation/hardware/computemodule/cmio-camera.md](url) results in MMAL error
![img_20190301_210209](https://user-images.githubusercontent.com/40349076/53639918-9a52ec80-3c65-11e9-8975-9f1b4d6e2c78.jpg)

[2019-03-01 13:13] realizator commented on #41
@nirvenesh20 try to do several steps back. There are lot of possible reasons of fail (wires commutation at devboard, bad cameras, bad or wrong ribbon connections etc.)

1. Use clear Raspbian image, without any `dt-blob.bin`
2. Try to preview picture from one of your cameras.
UPD> Do not forget to run `raspi-config` and turn on camera support before using raspistill on stock Raspbian.
UPD2> On stoc

[2019-03-01 13:20] realizator commented on #41
@nirvenesh20 By the way I see another wallpaper on your photo. I can suggest you did not use our full linux image, but just our files on Github. That is camera support on your image can be disabled. Try to start `sudo raspi-config` and check if it is turned on.

[2019-03-02 01:59] nirvenesh20 commented on #41
@realizator Thank you for your detailed instructions, everything works absolutely well. I am able to run the publisher as well with no errors. But how do i excute step 3 onwards from [https://github.com/realizator/StereoPi-ROS-depth-map-test](url) . If everything works well, I will purchase the Stereopi , when it starts shipping in April . Also i really appreciate your time and effort, its really

[2019-03-04 07:38] realizator commented on #41
@nirvenesh20 Could you please clarify your question.
If you already put all files in your home folder, you need just copy-paste command from step 3 in your console and run it. And, as you may guess, you need to run several console instances (4), and run each command in a separate console window.
p.s. Image you use is not my image, but image from Ubiquiti Robotics. :-) I'm one of the StereoPi devel

[2019-03-05 03:12] nirvenesh20 commented on #41
@realizator I did run the command on a different console/separate console window . But i get an error `[rospack] Error: package 'stereo_image_proc' not found ` . I have never got a proper link to search for this package as well.

[2019-03-05 07:44] realizator commented on #41
@nirvenesh20 I think you should install it something like this:
`sudo apt-get install ros-kinetic-stereo-image-proc`

[2019-03-06 06:58] nirvenesh20 commented on #41
@realizator thank you very much. Everything worked perfectly. Also is there anyway i could enlarge the disparity map so that it could display in full screen.

UPD >also i think it should be `ROS_NAMESPACE=stereo rosrun stereo_image_proc stereo_image_proc` instead of `ROS_NAMESPACE=stereo rosrun stereo_image_proc stereo_ige_proc`

[2019-03-06 07:34] realizator commented on #41
@nirvenesh20
1. Thank you for your typo notice ("ige" instead of "image"), I've fixed it.
2. I'm not a guru in ROS, so you should ask some more advanced guys about full-screen preview :-) I just want to notice, that in a real onboard robot depth map implementation it is better to turn off visualization at all, as it takes a lot of CPU resources.
3. All my experiments was proof-of-concept. For bett

[2019-03-20 04:46] nirvenesh20 commented on #41
@realizator I've been very much intrested with the stereopi, but was just curious, if the stereo camera requires any GPIO jumpers to be connected. Its a concern as i plan to attach a 3.5 inch touch display (something like this [https://www.cytron.io/p-3.5-inches-tft-touch-screen-for-rpi-3?currency=MYR&gclid=Cj0KCQjwpsLkBRDpARIsAKoYI8w13Jbbnhs0VCPdAhWUcp9P_4unY-9HX9MaTlGX6zm5806LN0B7ey8aAu0iEALw_wc

[2019-03-20 11:02] realizator commented on #41
@nirvenesh20 Your question is a bit offtop here (as it is not about raspicam_node). Could you please ask it [here on a Raspberry Pi forum](https://www.raspberrypi.org/forums/viewtopic.php?t=216940)? Thank you!

[2019-03-26 13:06] julled opened #72 "Use full resolution of cam v2"
Hi i try to use the pi cam v2 with full resolution (3280x2464) but there is an issue when starting in that mode. Is this a known issue? And can i fix this somehow?
![Selection_164](https://user-images.githubusercontent.com/8696195/54999312-3f948280-4fd0-11e9-84db-4e729714a3c1.png)

[2019-03-26 13:39] julled commented on #72
fixed by increasing gpu memory via memory split in raspi-config.

[2019-03-26 13:39] #72 closed, assigned to nobody

[2019-04-05 23:11] christianrauch opened #73 "standalone library for raspicam"
Would you mind splitting this project into a dedicated library and a thin ROS wrapper? This would make most of the code reusable by other projects.

The ROS node has quite some functionality now, that goes beyond what can be achieved with most C/C++ libraries for the Raspberry Pi camera. It would be useful for other projects to have this functionality available without ROS dependencies. This would

[2019-04-07 17:55] rohbotics commented on #73
Thanks for the suggestion.

What kind of features are you looking for from a C/C++ library that MMAL doesn't provide? Under the hood everything raspicam_node does is using the MMAL libraries, which AFIAK are largely provided by Broadcom.

I could see an argument for a C++ library that provides a more idiomatic interface than MMAL, but that seems like a tremendous undertaking. Especially considerin

[2019-04-07 22:30] christianrauch commented on #73
I am looking for a high-level API to simply access the camera data. Large portions of the ROS node code is for settings up the camera and reading data from it. This is independent of the ROS configuration and communication and could be extracted into a library.
E.g. I am maintaining a fork of this repo at https://github.com/christianrauch/raspicam2_node as a ROS2 node. I separated the ROS2 (`RasPi

[2019-04-07 23:42] christianrauch opened #74 "low framerate"
The `camerav1_1280x720.launch` only gives me 51 Hz on `/raspicam_node/image/compressed`. Is this expected?

With `roslaunch raspicam_node camerav1_1280x720.launch enable_raw:=true` this drops to 21 Hz on `/raspicam_node/image/compressed` and 9 Hz on `/raspicam_node/image`.
It appears that the framerate drops in general when enable_raw is enabled. Is it possible to select a raw-only mode?

How can

[2019-04-09 01:57] #70 closed, assigned to rohbotics

[2019-04-10 01:38] sradmard opened #75 "Compiling Error from Source."
Hi,
I am trying to compile the latest branch of the package from source under my catkin_ws, but I'm getting the following errors:

[code]

I would appreciate any hint on how to solve this. I have ubuntu mate and ros kinetic on my Raspberry PI3 B.

EDIT (@rohbotics) Formatting

[2019-04-11 16:21] maxammann commented on #72
Increasing it to 220MB seems to work!

[2019-04-13 17:02] rohbotics commented on #74
In my experience you can't get 90hz with raw unless you lower your resolution. With some really basic performance analysis, the code ends up spending most of its time in memcpy, because the raw images are so large.

[2019-04-13 17:03] rohbotics commented on #74
Another note: maybe you can get a little better framerates with more GPU memory in your config.txt

[2019-04-13 17:24] rohbotics commented on #75
Looks like something that wasn't ready got merged in. For now you can revert to the latest stable code by running `git checkout 0.4.0`

[2019-04-13 21:01] sradmard opened #77 "Raw Image does not Load into Rviz."
Hi there,
When I enable the `enable_raw` flag to get the raw image, unfortunately the image cannot be loaded to Rviz. The reason is that the data being published into the `/raspicam_node/image` topic is somehow corrupted. Here is an instance of the published raw image:

`header:
  seq: 1109
  stamp:
    secs: 1555185561
    nsecs: 712540212
  frame_id: raspicam
height: 308
width: 410
encoding: bgr

[2019-04-13 22:08] christianrauch commented on #74
I found a summary of [video modes](https://www.raspberrypi.org/blog/new-camera-mode-released/):

So this seems to be a hardware limitations. Images at HD resolution (1280 x 720) can ony be read at upto 49 Hz and the maximum framerate of 90 Hz can only be achieved with VGA resolution (640 x 480) or lower.

Is the node capable of publishing at this framerate? I assume that if `raspivid` can read fro

[2019-04-14 23:04] julled commented on #75
I am facing the same problem

[2019-04-17 16:30] #75 closed, assigned to rohbotics

[2019-04-19 06:46] ludusrusso commented on #77
Same problem here with `web_video_server`! Any idea how to fix this?

[2019-05-07 19:03] jessecha opened #80 "raspicam_node compatibility with tinkerboard s?"
I would like to know if the rpi v2 camera paired with a tinkerboard s would run this node.

[2019-05-14 07:27] Medicus3453 opened #81 "Features"
Hey,

is it possible to choose the spot, where to save those taken pictures?
and is ist possible to take time lapse?

BR

[2019-05-15 16:04] rohbotics commented on #81
I am not sure what you are asking for.

This is a ROS node that publishes the captured images through ROS, it doesn't save any images anywhere.

There is no built in timelapse support, but you could write a script that captures an image every X time and then compile that into a video.

[2019-05-15 16:04] #81 closed, assigned to nobody

[2019-05-17 19:23] kauevestena opened #82 "Cannot find references for awb_gains"
Hello, i'm plannig to use the raspicam in an application where I have to use a custom White Balance, accordingly to the [api reference ](https://picamera.readthedocs.io/en/release-1.10/api_camera.html#module-picamera.camera) we can change it with with awb_gains

but when I try to read the values (setting awb_mode to "off" does not change that), it says:

     ERROR: Parameter [/raspicam_node/awb_g

[2019-05-22 17:59] cielsys opened #83 "Support ROS Melodic + Ubuntu Mate Bionic 18.02"
tldr:
Could you provide instructions or a binary for that environment?

Full story:
I have a Raspi3 B+ with UbuntuMate 18.02 and ROS Melodic installed with working V2 cam. Part of my motivation for this environment is that I want this Raspi ROS to interact with a Nvidia Jetson Nano ROS and this is the current matching environment for the Nano.

Following the build instructions until this step (not

[2019-05-22 19:45] rohbotics commented on #83
I think you skipped the step where you add the Ubiquity rosdep overlay.

To `/etc/ros/rosdep/sources.list.d/30-ubiquity.list` add
`yaml https://raw.githubusercontent.com/UbiquityRobotics/rosdep/master/raspberry-pi.yaml`

You can also safely add `--skip-keys libraspberrypi0` to the rosdep install command.

[2019-05-23 04:03] cielsys commented on #83
Worked, thanks. Details for others below.

I did already have the yaml ref in the sources.list, so that wasn't the problem.
So I tried your suggestion
[code]

so next
[code]

THAT WORKED! Rosdep succeeds then catkin_make... And then the subsequent testing invocations work... then eventually crash. But I'll investigate a bit and post another issue if needed.
THANK YOU!
-Chris

[2019-05-23 04:03] #83 closed, assigned to nobody

[2019-05-23 04:42] rohbotics commented on #83
Hey @cielsys glad that worked out. Feel free to open another issue, I would like to see 18.04 support working. If everything works out, I would love to know! ra@ubiquityrobotics.com

[2019-05-25 15:38] rohbotics commented on #80
I don't know if the tinkerboard provides the same MMAL api for camera access. Most Raspberry Pi alternatives I have seen do not, which means that this node will not work.

[2019-05-25 15:38] #80 closed, assigned to nobody

[2019-06-10 17:19] kauevestena commented on #82
In fact, the driver just does not handle awb_gains, this is very sad for my purposes...

Where can I start, to modify the code in order to implement this functionality?

[2019-06-28 09:34] machinekoder commented on #72
Maybe also useful: https://www.raspberrypi.org/forums/viewtopic.php?t=197585

Did you also see a `could not convert from bgr8 to rgb8` error when using higher resolutions?

[2019-07-02 07:26] maxammann commented on #72
I don't think so. It just failed to init.

[2019-07-25 23:13] agnihotri123 commented on #35
Hey `raspi cam`

[2019-08-25 12:54] leelaser opened #84 "ImageView.callback_image() while trying to convert image from 'bgr8' to 'rgb8' an exception was thrown(Image is wrongly formed:height * step !=size or 960*3840 != 1843200))"
ImageView.callback_image() while trying to convert image from 'bgr8' to 'rgb8' an exception was thrown(Image is wrongly formed:height * step !=size or 960*3840 != 1843200))

[2019-09-25 18:35] pitosalas opened #86 "Two pi cameras?"
Is it possible to have two pi cameras (one pointing up and one forward) using this node? I believe I would have to connect one directly to the pi and the other one over usb, but not sure. Before I start playing I thought I'd check if someone has tried.

[2019-10-03 03:11] AKrause4 commented on #77
I am also having this issue, hope to hear some kind of fix

[2019-10-12 10:01] not-vibhu commented on #83
I'm unable to build `raspicam_node` on Ububtu Mate 18.05, Melodic.
`catkin build` gives error

____________________________________________________________________________________________________________________________________________________
Errors     << raspicam_node:make /home/visualnav/catkin_ws/logs/raspicam_node/build.make.003.log
/opt/vc/lib/libbcm_host.so: error adding symbols: File in w

[2019-10-12 19:53] rohbotics commented on #83
Are you using the 64 bit version of Ubuntu Mate?

[2019-10-31 22:27] Le0nLyn opened #87 "Build stuck on raspicam_node_generate_messages"
Hi,
I am trying to build from source on my raspberry pi 3 B, but the build process stucks on **Building CXX object raspicam_node/CMakeFiles/raspicam_node.dir/src/RaspiCamControl.cpp.o**.
I'm also using the latest Ubiquity Image from https://downloads.ubiquityrobotics.com

[2019-11-01 19:38] rohbotics commented on #87
Hi,

You may want to try compiling with fewer cores due to memory limitations on the Pi, `catkin_make -j1`.

[2019-11-07 21:58] Le0nLyn commented on #87
Hi,
I ended up using the pre-built binary, but using the `-j1` flag did resolve the issue. Thank you!

[2019-11-07 21:58] #87 closed, assigned to nobody

[2019-11-09 12:15] altineller opened #88 "frame rate 90 but republish both camera_info and image at a lower rate"
Hello,

Could it be possible to publish image and camera info at a lower speed than frame rate? Say capture at 90hz and publish them at 10hz, without destroying the syncronization between image and camera info?

[2019-11-09 22:08] Lashhev commented on #41
I managed to adapt the new mmal api with support for stereo mode. You should try my fork https://github.com/Lashhev/raspicam_node.git (stereo branch)

[2019-11-09 22:12] Lashhev commented on #84
I conducted a series of tests and found out that the image resolution should be with a certain aspect ratio (4: 3) or (16: 9). Try to comply with these rules.

[2019-11-09 22:15] Lashhev commented on #86
https://github.com/UbiquityRobotics/raspicam_node/issues/41#issuecomment-552142081

[2019-11-09 22:16] rohbotics commented on #41
@Lashhev That is awesome! Could you please make a PR so that we can get the necessary changes merged in to this node?

[2019-11-10 17:09] rohbotics commented on #88
This would be highly useful :)

The closest thing we have is setting the capture rate to 10hz and manually setting the shutter speed lower. If you can figure out something better, it would be much appreciated.

[2019-11-16 15:01] Lashhev commented on #41
@rohbotics, Oh. Ok.
In which branch should I make PR?

[2019-11-16 15:02] rohbotics commented on #41
Make the PR to the kinetic branch.

Rohan

On Sat, Nov 16, 2019 at 9:01 AM Lashchev Andrew <notifications@github.com>
wrote:

[2019-11-25 20:45] #86 closed, assigned to nobody

[2019-11-25 20:46] pitosalas opened #90 "Displaying image from raspicam_node in RViz"
(this was also posted in answerrs.ros.org)

- Turtlebot3 from Robotis
- Ubuntu 18.04
- ROS Melodic
- Raspi Camera installed

I have the raspbery pi camera set up well enough so that when I run rqt_image_view I see the image. Oddly the topic is something like /raspicam_node/image/compressed_mouse_left . No idea what mouse_left means in this context.

Rostopic List shows:

    /raspicam_node
    /ra

[2019-12-07 03:32] elgarbe commented on #84
this is the video modes list for v2 camera:
1 - 1080P30 cropped (680 pixels off left/right, 692 pixels off top/bottom), up to 30fps
2 - 3240x2464 Full 4:3, up to 15fps
3 - 3240x2464 Full 4:3, up to 15fps (identical to 2)
4 - 1640x1232 binned 4:3, up 40fps
5 - 1640x922 2x2 binned 16:9 (310 px crop T/B before binning), up to 40fps
6 - 720P bin+crop (360 px L/R, 512 px T/B before binning), 40..90fps

[2019-12-08 02:23] elgarbe commented on #77
me too! any comment?

[2019-12-11 18:57] ElmedinSeljimi commented on #41
Hello @realizator , I'm using StereoPi with ROS Image.
I run "ROS_NAMESPACE=stereo rosrun stereo_image_proc stereo_image_proc" on Terminal but doesn't happens nothing. Do you have any ideas?

[2020-01-02 21:32] samsilverman commented on #59
Im getting a similar error:

`ERROR: the following packages/stacks could not have their rosdep keys resolved
to system dependencies:
raspicam_node: No definition of [diagnostic_updater] for OS [debian]`

Has this issue been addressed or has a workaround been found?

[2020-01-03 21:18] samsilverman commented on #59
Nevermind I have addressed this problem. If people feel my workaround may be helpful to the issue with camera_info_manager, I can post what I did here.

[2020-01-08 18:39] droter opened #91 "Stopped working after upgrade"
Hi,

Thanks for writing the raspicam_node.

The RPi is able to see the camera with:
raspistill -o image.jpg

This was working before I did an update && upgrade and now the following errors are showing up.

Started with:
ubuntu@camera:~/catkin_ws/src/weeds/launch$ roslaunch raspicam_node camerav1_1280x720.launch

NODES
  /
    raspicam_node (raspicam_node/raspicam_node)

ROS_MASTER_URI=http://camer

[2020-01-09 00:43] droter commented on #91
Permissions were the problem.

[code]

Changing to:

[code]

Has fixed the problem.

[2020-01-09 00:45] #91 closed, assigned to nobody

[2020-01-15 22:45] ConstantinB9 commented on #83
Hi,

I'm also trying to get the node to work on mate 18.04. I've followed the above suggestions but am getting a different error when building with catkin_make:

CMake Error at raspicam_node/CMakeLists.txt:29 (MESSAGE):
  Could not find mmal libraries

-- Configuring incomplete, errors occurred!
See also "/home/pi/catkin_ws/build/CMakeFiles/CMakeOutput.log".
See also "/home/pi/catkin_ws/build/CMak

[2020-01-24 19:29] Niels-Osnabrugge commented on #59
@samsilverman I currently also get the error :
raspicam_node: No definition of [diagnostic_updater] for OS [debian]

What did you do to fix it?

[2020-01-24 20:09] #59 closed, assigned to nobody

[2020-02-01 23:25] droter commented on #91
The permissions were getting reset after reboot.

I added a line to the bottom of /etc/rc.local
sudo chmod 666 /dev/vcsm

And now it seems to work.  Not sure if this is the best approach.

[2020-02-09 21:13] rohbotics commented on #91
Hey @droter

A better solution is posted here https://github.com/UbiquityRobotics/ubiquity_main/issues/218

[2020-02-23 10:49] pryre opened #93 "Compilation for Ubuntu 18.04.4 LTS"
Not sure on the priority, but I have managed to get a running copy of raspicam_node on the new [Ubuntu 18.04.4 LTS](https://ubuntu.com/download/raspberry-pi) release using ROS melodic. Everything seems to be working as expected (except I haven't actually opened an image_view as I have to run headless for the time being).

The primary problem was a linking issue, similar to [this](https://github.co

[2020-02-23 15:29] rohbotics commented on #93
@pryre Thanks for opening this issue.

Seems like the link time optimizer is doing something incorrectly. Can you make a PR with the change that made it work?

Thanks!

[2020-03-02 18:23] JCPuchalt commented on #83
I also get the same error. Yes, I have the RPi 4 with 4GB RAM and the 64 bit version.

[2020-03-02 19:54] rohbotics commented on #83
For those of you running the 64bit MATE, does the camera work at all? Does `raspistill -o cam.jpg` produce an output?

[2020-03-03 08:34] JCPuchalt commented on #83
Camera does not work
`raspistill: command not found`

[2020-03-03 19:52] rohbotics commented on #83
I don't think the Ubuntu MATE team has gotten the camera working at all on their 64 bit system. If you want the camera, I think you will have to stick with 32 bit.

[2020-03-03 20:12] ConstantinB9 commented on #83
I got the node running on Pi 3B+ which is 64 bit. I ended up using a Pi image distributed by ubiquityrobotics.

I believe it's [this ](https://downloads.ubiquityrobotics.com/pi.html) one

The camera node is already installed and worked perfectly out of the box for me.

[2020-03-04 11:54] JCPuchalt commented on #83
I got install userland, raspi-config, rpi-update... on Pi 4 Ubuntu Mate 64 bits. Camera is working (I got images and preview) with raspivid and raspistill but it runs with some warnings:
[code]
Some comments are about permissions, but I changed them and warnings are held.
[code]

I can compile raspicam_node, with your pieces of advice and :
`adding -nostartfiles to your linker options in CMakeList

[2020-03-04 20:54] tritran98 commented on #35
Hi, I got the same problem, but I install ROS Master on my laptop, I use ubuntu 16.04, ros kinetic, when I trying to build from source for my laptop to use motion vector. And the output of ls -al /opt/vc is no directory

[2020-03-05 17:57] guillermoherreraf commented on #93
Hey @pryre! I've got ROS Melodic running on my RPI 4 (under Raspbian Buster). I managed to have a copy of the raspicam_node running, however when I run the tutorial.launch and afterwards I run `rosrun rqt_image_view rqt_image_view` there is nothing on the display... any idea what it might be?

Here is the erros message I get:
[code]

[2020-03-08 15:19] besttangent commented on #83
Hi,did you solve this problem?I met this problem,too.

[2020-03-17 19:49] cemoke commented on #90
I have exactly same issue regarding "Oddly the topic is something like /raspicam_node/image/compressed_mouse_left . No idea what mouse_left means in this context." however, I am not able to see the image published in rqt_image_viewer. I also have the same configuration but using my robot instead of turtlebot.

Ubuntu 18.04
ROS Melodic
Raspi Camera installed

[2020-03-31 23:16] tiralonghipol opened #95 "extension to 4 cameras"
hi
first of all thank you for your work!
i recently got my hands on an extension hat https://www.arducam.com/arducam-v2-1-multi-camera-adapter-board-raspberry-pi-8mp-camera-imx219/
and was planning to extend your node to output 4 image streams

any suggestion or guide that i can read on how to proceed properly?

Thank you

[2020-04-07 15:44] MoffKalast opened #96 "wrong format for compressed image"
The message CompressedImage is specified with the following format enum:

[code]
The node publishes with the format set to "jpg" which breaks compatibility with other nodes that rely on the acceptable values.

[2020-04-07 18:10] rohbotics commented on #96
Hey @MoffKalast Looks like this was already fixed in https://github.com/UbiquityRobotics/raspicam_node/pull/79 for the exact same issue

Looks like we need to run a new release of raspicam_node

[2020-04-07 18:13] #96 closed, assigned to nobody

[2020-04-14 19:11] elpidiovaldez opened #97 "Camera configuration file (yaml) not found."
I find that the camera launch files result in an error message like:
`[ INFO] [1586890062.630439472]: Unable to open camera calibration file [/home/paul/.ros/camera_info/camerav2_410x308.yaml]
[ WARN] [1586890062.630601378]: Camera calibration file /home/paul/.ros/camera_info/camerav2_410x308.yaml not found.
`
The system seems to be looking for camera_info in the wrong place. The launch file speci

[2020-04-14 19:18] rohbotics commented on #97
Hi @elpidiovaldez

Raspicam looks .ros first, and then goes to the specified default calibration file. This is to allow people to calibrate their intrinsics without writing into the raspicam package, which may require root permissions.

If you look further down the log you should see `Camera successfully calibrated from default file`

[2020-04-16 15:33] MoffKalast commented on #77
Can confirm this is still a problem.

[2020-04-17 09:15] realizator commented on #77
I think I know the source of this problem.
1. Actually, while capturing RAW data from the sensor, native Pi utilities (like raspividyuv etc) requires width to be dividable by 32, and height to be dividable by 16.
2. If you capture non-RAW (like using raspivid utility), these utilities do scaling to get final requested resolution, so you didn't notice this issue. Scaling is done by GPU, so performa

[2020-04-19 08:09] bltDefender opened #98 "Ubuntu 18.04.4 with melodic on Pi4 - libraspberrypi0 not found"
Hi, was trying to make the node on my pi4 but got this error:
[code]
see screenshot attached to show rosdep source is set correctly. rosdep update ran successfully.
any way to build on ubuntu 18.04?

![image](https://user-images.githubusercontent.com/37219611/79682781-57672600-8225-11ea-8b44-6227b824835e.png)

[2020-04-19 11:36] davecrawley commented on #98
Alan - you managed to get all this working on melodic under the pi 4 right?
Can you shed some light on this one? See the github thread.

On Sun, Apr 19, 2020 at 10:09 AM Mirco <notifications@github.com> wrote:

[2020-04-20 17:48] bltDefender commented on #93
@pryre @GuillermoHerreraF how did you manage to get it running under 18.04.4? I cannot build cause libraspberrypi0 is missing. Any hint welcome, I'm stuck.

[2020-04-20 19:23] bltDefender commented on #98
Don't know about the consequences yet, but this is how I brute forced the installation of missed lib.
Libraspberrypi0 conflicts with libgles2-mesa-dev, mesa-common-dev and libegl1-mesa-dev. I kicked them out via
`sudo dpkg -r --force-depends libgles2-mesa-dev mesa-common-dev libegl1-mesa-dev`
 I found out there is additional ppa sources being available
`sudo add-apt-repository ppa:ubuntu-raspi2/pp

[2020-04-20 19:23] #98 closed, assigned to nobody

[2020-04-20 19:23] bltDefender commented on #98
There is another way to install Libraspberrypi0

[2020-04-28 08:17] ChrisTayl2018 commented on #93
I am having problems building this from src on Ubuntu Server 16.04 as well as it is unable to locate libraspberrypi-dev or libraspberrypi0. Also looking for any suggestions?

robo1@robuntudev:~/catkin_ws$ rosdep install --from-paths src --ignore-src --rosdistro=kinetic -y
executing command [sudo -H apt-get install -y libraspberrypi-dev]
Reading package lists... Done
Building dependency tree
Readin

[2020-04-28 08:29] guillermoherreraf commented on #93
@bltDefender I changed to the usb_cam node. I could not manage to make the raspicam_node work with my system configuration. http://wiki.ros.org/usb_cam

[2020-04-30 01:03] #97 closed, assigned to nobody

[2020-06-04 15:56] tiralonghipol commented on #41
hi @rohbotics
i followed the discussion and I was wondering if the stereo ros node can be applied to this stereo hat (https://www.arducam.com/product/b0195-synchronized-stereo-camera-hat-raspberry-pi/)
can you give a feedback on this ?

Thank you in advance!

[2020-06-06 19:13] marcostrullato commented on #90
Same situation here...

[2020-06-06 19:28] MoffKalast commented on #90
From what I know RViz isn't capable of displaying CompressedImage topics. You should be able to view them using rqt_image_view, or change the boolean in the raspicam_node launch file to enable publishing raw images. Those should be viewable in RViz.

[2020-06-12 22:19] Arcwy opened #99 "stereo_mode"
Hello! Just wanted to ask if stereo node for raspicam_node soon will be pulled or not

Trying to work with stereo_node, but it seems I need to have it in master branch

[2020-06-12 22:19] #99 closed, assigned to nobody

[2020-06-19 16:38] robert-meiner opened #100 "branch for melodic?"
Is there a simple set of changes to make for installation on melodic?

thanks, Mark

[2020-06-23 04:44] rohbotics commented on #100
I could make one, but what melodic specific changes do you want to make?

[2020-06-24 11:04] robert-meiner commented on #100
I mean whether there are a simple set of changes to one of the existing packages that will make it work with melodic.
Thanks, Mark

[2020-06-24 11:39] MoffKalast commented on #100
Well it's possible that there aren't any needed. Have you tried compiling from source on melodic? Does it fail with any errors?

[2020-06-24 12:24] robert-meiner commented on #100
Yes, I did try it.  Hence my question.
Thanks, Mark

[2020-06-24 12:38] MoffKalast commented on #100
And what were the exact errors you got? We can't exactly fix something if we don't know what's broken.

Btw, what kind of Melodic installation is this exactly? Compiled from source on Ubuntu 16 or from a package repo on Ubuntu 18? Since there isn't any Ubiquity image for 18 right now with preinstalled Pi dependencies I would imagine all the related required libraries to the pi camera are missing b

[2020-06-24 12:52] robert-meiner commented on #100
Thank you for the notes.  I am using a raspberry pi 4b+ for this part of the robot.  All the dependencies are there and everything on the pi works fine. I'm keeping it lean by using Buster.  I tried installing your kinetic node last week with catkin tools and it just immediately stopped during the build.  I didn't document the error messages, since I didn't want to spend a lot of time trying to ma

[2020-06-24 12:52] #100 closed, assigned to nobody

[2020-06-24 14:33] MoffKalast commented on #100
Citation needed :)

Kinetic is still quite popular right now and most people will be moving directly to Noetic. From what I know we will be officially supporting that one.

[2020-06-29 09:04] Ashok12698 commented on #35
@rohbotics  Hi Rohan, Please help me to resolve the issue while building raspicam_node. I am facing the error while issuing this command after creating yaml file in /etc/ros/rosdep/sources.list.d/30-ubiquity.list
I am running ROS on RPi3B+.

**_-sudo rosdep init
-rosdep update
-rosdep install -y --from-paths src --ignore-src --rosdistro kinetic -r --os=debian:buster_**

**ERROR: the following pack

[2020-07-01 04:13] rohbotics commented on #35
Hi @Ash-S

Are you using raspbian? How did you install ROS?

If you installed from source, you will need to manually download and install that dependency.

[2020-07-01 09:24] Ashok12698 commented on #35
Hi @rohbotics , thanks for your reply. I figured it out while watching the compiler errors...i needed to define "add_compile_options(-std=c++11)" in src/image_common/camera_calibration_parsers/CMakefile and package build works. But there is again an issue while running launch file.
**_"roslaunch raspicam_node camerav2_1280x960.launch"_**, Could you please check and suggest? Thanks.

... logging to

[2020-07-02 03:32] rohbotics commented on #35
Having to modify camera_calibration_parsers doesn't sound quite right, I think moving it to C++11 is causing the runtime error that you are getting now, but I am not sure.

Can you post the compiler errors you were getting?

Can you also tell me more about your OS and how you installed ROS?

[2020-07-02 03:34] Ashok12698 commented on #35
Hi, yes. I installed ROS (raspbian) through here: http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Kinetic%20on%20the%20Raspberry%20Pi

[2020-07-02 03:45] Ashok12698 commented on #35
Since first when i got cam package from here https://github.com/UbiquityRobotics/raspicam_node, i tried to build it but it was showing errors for camera_info_manager, so i got package "image_common" http://wiki.ros.org/image_common from source. I tried build again and got errors related to "camera_calibration_parsers", so i tried build individual package of "camera_calibration_parsers", and i got

[2020-07-02 03:58] Ashok12698 commented on #35
@rohbotics; while building 'camera_calibration_parsers' i was getting these errors.

![image](https://user-images.githubusercontent.com/11657541/86314865-b274ba80-bc63-11ea-89fc-2abb3b6f48c9.png)

[2020-07-02 04:11] rohbotics commented on #35
Thanks for the further info.

It seems like something is pretty broken with dependency versions, as the underlying libraries that ROS uses have gotten incompatible updates in raspbian since Kinetic came out.

Maybe you would have better luck trying to adapt those instructions to install Melodic or maybe Noetic instead?

 Alternatively you can use our Ubuntu Xenial image here: https://downloads.ubi

[2020-07-02 04:20] Ashok12698 commented on #35
Thanks but Since along with Raspicam i need to use 'dynamixel-workbench' package on it, the Ubuntu Xenial image  https://downloads.ubiquityrobotics.com/pi.html would support this without any further issues, if you have tested it?
Because after a lot of hard work to resolve the issues and to get 'working ROS' on RPi3, i am able to use 'dynamixel-manager' on it...but not while i need to add Pi-Camer

[2020-07-02 04:29] rohbotics commented on #35
dynamixel_workbench looks like it supports ROS Kinetic which means it should work on the Ubuntu Xenial + ROS Kinetic we have on that image. You should be able to put it in your catkin_ws and compile it.

Otherwise the thing to try would be to get a newer version of ROS installed on your Pi, because it seems Kinetic is too old to work properly on the new versions of raspbian.

Good luck with your p

[2020-07-02 05:27] Ashok12698 commented on #35
Okay. thanks Rohan @rohbotics for your kind sugestions. I'd look forward it. Seems, I have 2 options now to move on:
1. prefer to use Ubuntu Xenial+ROS Kinetic
2. new version of ROS which supports well  "RPi3+dynamixel_workbench+PiCam+Radar";  **any suggestions/recommendations please?**
Thanks.

[2020-07-02 16:38] rohbotics commented on #35
For option 2, you might have better luck trying to compile ROS Melodic from source (instead of Kinetic), but I haven't tried it, so I can't really provide any recommendations.

[2020-07-03 17:50] nikodemj9 commented on #90
RViz should be able to show the compressed topic, it just doesn't like when there is no raw topic.
You need to add "Image" display, fill the "Image Topic" parameter with "/raspicam_node/image" and after that change transport hint to "compressed". I believe that should work.

[2020-07-06 05:53] Ashok12698 commented on #35
Thanks @rohbotics . I'd go through it and test. well, may i please know how can i configure different frame rates in 'raspicam_node'. It seems that the package is already located here /opt/ros/kinetic/share/ . How can I configure different frame rate and rebuild it again. Thanks.

[2020-07-06 07:26] ivantomic17 commented on #35
Hi, @rohbotics  I am running ROS melodic on Raspberry PI 4B (Raspbian) and I am trying to install pylon_camera. I have a problem, when I run:
rosdep install --from-paths src --ignore-src --rosdistro melodic -y -r --os=debian:buster

I get :
ERROR: the following packages/stacks could not have their rosdep keys resolved
to system dependencies:
pylon_camera: No definition of [pylon] for OS [debian]

[2020-08-04 18:40] Michdo93 opened #101 "how can I run the raspicam_node on two different robots at the same time?"
Hi,

I want to know how I could run this node on two diffrent robots at the same time? Is it possible. Because in the same network it is not the best solution to run it and subscribe from` '/raspicam_node/image/compressed'` it would be better if there is a solution where I can do something like this: `'<robot_name>/raspicam_node/image/compressed' `

[2020-08-04 20:24] Michdo93 commented on #101
Ok I have done following:

[code]

Now it is available under `'/raspicam_node/<robot_name>/image/compressed'`

[2020-08-04 20:24] #101 closed, assigned to nobody

[2020-08-15 21:14] pitosalas opened #102 "Melodic?"
Will `sudo apt install ros-kinetic-raspicam-node` work correctly with melodic?

[2020-08-26 22:42] julled opened #103 "PI Hq Camera Support"
Hi,
is the new Pi Hq Camera supported by this Node?
Regards

[2020-08-27 06:42] rohbotics commented on #103
Yes, it should work out of the box, we don't have specific launch files for it, but camerav2 launch files work fine for me.

[2020-08-27 12:23] julled commented on #103
Okay thanks!

[2020-08-27 12:23] #103 closed, assigned to nobody

[2020-09-02 09:23] MrRivi opened #104 "Region Of Interest (ROI) and dynamic parameters via launch file"
Hello, I am trying to modify the roi parameters thrown by the camera_info topic:
![Image_1](https://user-images.githubusercontent.com/65244140/91963496-39025280-ed0e-11ea-8b86-55708be9d3e5.png)

So far I am using [image_proc/crop_decimate](http://wiki.ros.org/image_proc). Maybe it is easier to just modify the camera parameters in the raspicam_node, although I don't know how to modify those paramet

[2020-09-14 08:35] karsjen commented on #102
i followed the build instructions in the readme section (using the kinetic branch), typing melodic instead of kinetic when running rosdep (rosdep install --from-paths src --ignore-src --rosdistro=melodic -y) and it is working correctly. I am running it on a raspberry pi 4.

[2020-09-16 20:00] adi3 commented on #102
I can confirm that the node builds and runs on melodic if we skip the --rosdistro=kinetic option. @rohbotics will the maintainers consider accepting a pull request for a melodic branch on this repo? It doesn't seem like too much work (just need to update README and put in a request at ros index), so I can take this up. Let me know

[2020-09-16 20:23] rohbotics commented on #102
Hi sorry for not following this issue. I think a README change would be great!

What OS are you guys running Melodic on? The reason I have been hesitant on saying we have melodic support is that IIRC the Ubuntu Mate images didn't have mmal installed so raspicam wouldn't even build.

As for a debian release, it's not really possible through the ROS buildfarm because of the requirement of having mma

[2020-09-17 08:16] adi3 commented on #102
@rohbotics I'm running Ubuntu Mate based on Bionic (18.04), but it would likely work on vanilla Ubuntu Bionic as well. I was able to build and get the package working without any modifications to code.
Quick point to clarify - how is it that you are able to provide raspicam on kinetic via the ROS buildfarm, but cannot do the same for melodic? I'd imagine we can take the same process to make a debi

[2020-09-17 09:23] karsjen commented on #102
@rohbotics i am running it on raspbian buster. For me, building the package was also without any issues.

[2020-09-21 01:13] rohbotics commented on #102
@adi3 We don't build on the ROS buildfarm, we build on our own buildfarm for kinetic. We don't have a melodic buildfarm, but we do have a noetic one in progress.

[2020-10-05 14:02] Fan-loewe commented on #83
Hello, did you solve the problem? I also met that :)

[2020-10-14 19:09] altineller opened #105 "Compilation problem on Ubuntu 18.04.5 LTS, mmal libraries."
Hello,

I am Ubuntu 18.04.5 LTS (64bit) on a Paspberry Pi4, and I am unable to compile raspicam_node
I get the following error:

`
CMake Error at raspicam_node/CMakeLists.txt:30 (MESSAGE):
  Could not find mmal libraries`

Any ideas on how to fix this?

Best Regards,
C.

[2020-10-16 10:04] houhaol opened #106 "Cannot display image in rqt and rviz"
Hello,

My Turttlebot3 waffle_pi was configured with Ubuntu Mate 18.04 32-bit and melodic ROS. I installed this raspicam_node as your instructions but modified a bit as this issue suggest #102 which just skip the skip the --rosdistro=kinetic option.

It built well but when i run it, no image showed in rqt.
[REMOTE PC]
`roscore`
[TURTLEBOT1]
`roslaunch turtlebot3_bringup turtlebot3_rpicamera.launch

[2020-10-16 17:59] anfederman commented on #106
See if topics are echoed

Rostopic list

Look for camera topics

Then

rostopic echo /camera/image_raw*
  *Not sure the exact name

If you see data, rqt-image view should list these, and you select them. If no data, then you have either a network or loading issue. If there are network issues you will see no data in other sensor topics.

Good luck.

[2020-10-16 18:22] anfederman commented on #105
Sorry to say this, but currently raspicam won't work on Ubuntu 18.04 because no one has figured out to to compile the MMAL libraries. I have been successful using the usb_cam node to see images from the raspicam, but without MMAL, fiducials won't work either. We have no work around yet, so unless you want to go back to a 16.04 image you won't have raspicam_node.

This is so frustrating as everyone

[2020-10-17 02:09] houhaol commented on #106
Hi,
Thanks for your reply.

I listed all published topics using `rostopic list`. They are already there, on my remote PC
![image](https://user-images.githubusercontent.com/41767952/96325984-7a04bb00-105f-11eb-93eb-8d0017d4189a.png)

Then i printed out the data using `echo`, it works. But still can not visualize in rqt_view_image.

------------------------------------------------------
I tried thes

[2020-10-17 03:17] houhaol commented on #106
I failed using a WSL system for this. I successfully made it work on my Linux remote PC now. But any idea to fix this issue on wsl.

[2020-10-19 19:05] altineller commented on #105
Hello @anfederman,

I managed to get it working, but using docker under raspian, where the docker contains ubuntu18. both 32bit. It is an ugly solution, but it works. Is there any people working on this MMAL libs? Maybe we can ask support from them.

Best regards,
C.

[2020-10-26 17:20] pitosalas opened #107 "Proper syntax for camera_info_url paramaeter"
I am using this in my .launch file

    <param name="camera_info_url" value="package://gpg_bran/camera_info/camerav2_1280x960.yaml"/>

And yet I am getting this error message:

[ INFO] [1603729230.468427408]: Unable to open camera calibration file [/home/pi/.ros/camera_info/camerav2_1280x960.yaml]
[ WARN] [1603729230.468570167]: Camera calibration file /home/pi/.ros/camera_info/camerav2_1280x960.y

[2020-10-26 19:38] MoffKalast commented on #107
Yeah I think I've had a similar issue in the past, something isn't set up right in the pi images for the package:// syntax resolution. The file:/// syntax does work but you have to specify the entire path.

[2020-10-26 22:20] pitosalas commented on #107
Thanks. I wish there was a tad more documentation. For example the node looks for a "default" camera_info file and a "specific" one. Not sure why. Thanks though I've gotten it to work.

Pito Salas
Faculty, Computer Science
Brandeis University

[2020-11-13 11:26] JADGardner commented on #36
In one terminal launch the raspicam_node
[code]

and then in another terminal use:
[code]

[2020-11-20 16:59] elgarbe opened #108 "raspicam_node from source on pi zero with kinetic and stretch"
Hi, I've compiled ros kinetic from source on raspberry pi zero, the follow this instructions in order to get raspica_node working:
https://venelinpetkov.com/2017/11/19/how-to-install-a-raspberry-camera-node-on-ros-kinetic-raspbian-stretch/

after compiling all ros dependencies I run sudo apt-get install libraspberrypi-dev
Then
[code]
then added
yaml https://raw.githubusercontent.com/UbiquityRoboti

[2020-12-27 12:09] reza1763 opened #109 "8Mp still Image acquisition"
Hello, Thanks for you nice work and support.

How can I take still images on the highest resolution and quality without any compression using Raspberrypi camera module 2.0?

(8MP @ 0.1FPS would be fine)

[2020-12-30 09:04] #106 closed, assigned to nobody

[2021-01-06 13:34] Shiyu-Liu opened #110 "how to compile raspicam_node source code on ubuntu 18.04 melodic ?"
Hi, I saw several related issues published but couldn't find out any useful solution.
I tried to compile raspicam_node from source on **ubuntu mate 18.04 (Melodic)**  with **Raspberry Pi 3b+**.
Following the instructions, I did **$ rosdep install --from-paths src --ignore-src --rosdistro=melodic -y**, but it returned an error:
**E: Unable to locate package libraspberrypi-dev
ERROR: the following r

[2021-01-14 14:19] m-fatihozkan commented on #110
I got same issue. Dont't know that to do. Can someone help us?

[2021-01-14 21:01] MoffKalast commented on #110
I think you may need to add the raspberry pi apt repository key for that get command to work.

[2021-01-14 21:14] anfederman commented on #110
Raspicam node will not compile on a Pi 4 Ubuntu 20.04 Arm64 due to mmal not working in that architecture.

It is unknown if this is true for ARM32 architecture on Pi 3/4 Ubuntu 18.04.   The first step would be to build a raspberry pi userland, and then see if raspistill works.   If raspistill works and raspi-config can enable the camera, you should be able to build rapicam_node.

[2021-01-16 10:24] m-fatihozkan commented on #110
Actually i am using jetson nano. But having same problem What c an i do sir?

[2021-01-17 01:06] anfederman commented on #110
Sorry,  Raspicam_node won't make on a Jetson Nano, since the Arm64 architecture won't support the MMAL component used by the code.  This has to do with the word size in the version of c++.  The ROS usb_cam node will support the raspicam on the Nano.  The same issue prevents using the Rperry Pi 4 in Arm64 mode on our Magni robots. The Pi 4 or 3 works fine using Arm32.

Unfortunately, there is no so

[2021-01-18 09:36] m-fatihozkan commented on #110
Thank you. I found a solution actually. Jetson Nano users can use jetbot ros packages by dusty-nv. With jetbot_camera you are able to use rpi cam. Thx for answers

[2021-01-19 19:10] Shiyu-Liu commented on #110
Could you provide additional infos for that ? I couldn't find out how to add the correct key for the **sudo apt-get install libraspberrypi-dev** command to work. Thanks in advanced.

[2021-01-19 19:18] Shiyu-Liu commented on #110
Thanks for the reply. Actually I am working on Arm64-architecture RP3b+ Ubuntu 18.04. Couldn't get userland to work until now. The building process of that package was stopped due to some errors. I will continue my investigation on that.

[2021-03-06 20:02] elgarbe opened #111 "raspicam_node image_raw=true don't work on PI2"
Hi, I'm working with a raspberry pi 2 with ubuntu MATE 16.04.7 server (the only version that I could use with raspicam).
I've installed raspicam_node from this repo following the official instructions. I need to get uncompressed image for apriltag. So I enable raw image on launchfile. But image_view and apriltag_ros throw an error like
[ERROR] [1615055637.841805351]: Unable to convert 'bgr8' image

[2021-03-07 00:51] anfederman commented on #111
You probably don't have the /opt/vc   libraries.

These can be installed by a snap install of rpi-userland followed by copying to /op/vc

sudo snap install rpi-userland –edge

copy the userland/opt/vc from snap to opt/vc
  (this installs the mmal libraries)

You may need to rebuild the node in catkin.

Also for the camera to work you need

gpu_mem=128
start_x=1  in your /boot/config.txt

Good luck

[2021-03-07 00:54] anfederman commented on #111
Another thought  does the usb_cam ros node work on the pi 2?

[2021-03-07 03:05] elgarbe commented on #111
raspicam_node from ubiquity is working on my pi2 but with compressed image only.
The problem is with RAW image enabled.
If I enable RAW image then running image_view gives the error I've posted.
If I disabled RAW image and running image_view with transport=compressed then I get images.
The problem is apriltag needs uncompressed images.
The other thing is raspicam_node from this repo: https://githu

[2021-03-15 02:02] elgarbe commented on #104
Hi, do you find a solution?
I would like to use my raspicam at high resolution but make a small ROI in order to detect tags that are just in front of the camera. I I think high resolution ->high precision, Small region of interest -> tags that are better aligned with Z camera axis -> better distance estimation.

[2021-03-23 02:46] rohbotics opened #112 "Noetic release raspicam_node"

[2021-03-23 16:03] anfederman commented on #112
Raspicam_node catkin_makes and runs under Noetic if the /opt/vc  libraries
are installed and copied from Rpi_userland snap install.  Details in my
notes.

On Mon, Mar 22, 2021 at 7:46 PM Rohan Agrawal ***@***.***>
wrote:

[2021-04-07 06:52] abdul-mannan-khan opened #113 "Problem in ROS-Noetic - Failed to create camera component - connections are fine."
I am facing issues running it under ROS Noetic. Here are the errors.

[code]

I have read details given in Troubleshooting section. There is no problem in camera connection. They are fine. Could you please put some light on my problem?

I am running ROS-Noetic on Ubuntu Mate 20.04 on Raspberry Pi 4.

Thank you.

[2021-04-07 11:02] anfederman commented on #113
First, you need to be running the arm32 version of Ubuntu 20. Raspicam is
not supported for arm64.

The libraries for the raspicam are in /opt/vc

To install you need to do a snap install of pi-userland, and then copy the
vc folder to /opt

On Tue, Apr 6, 2021, 11:52 PM Dr. Abdul-Mannan Khan <
***@***.***> wrote:

[2021-04-07 16:56] rohbotics commented on #113
You are seeing `ENOMEM`, do you have enough GPU memory enabled in your config.txt? Try increasing it, I think a minimum of 128mb is required.

[2021-04-07 17:18] anfederman commented on #113
Also, first see if raspistill is working. This may require a desktop, but
if it isn't found or gives error messages, these need to be fixed even
before you make raspicam_node.

On Wed, Apr 7, 2021, 9:56 AM Rohan Agrawal ***@***.***> wrote:

[2021-04-08 12:14] abdul-mannan-khan commented on #113
Thank you very much for your response. I have installed 32bit Ubuntu mate 20.04 on Raspberry Pi 4. I followed steps given in [website](https://picamera.readthedocs.io/en/release-1.13/install.html).  I read isses given in the github [repository](https://github.com/waveform80/picamera/issues/578). I could successfully install camera using the following commands

[code]
However, I am still getting fo

[2021-04-08 12:36] anfederman commented on #113
So in your /boot config.txt do you have

gpu_mem=128
start_x=1

Do you have a /dev/video0 ?

Do you have group permissions to /dev/video0 ?

Finally in /opt/vc/lib. Is there the mmal components?

I know this is a difficult problem, it took me two months to get it working
properly.

Ps. I am doing this from my phone, so there are typos.

On Thu, Apr 8, 2021, 5:14 AM Dr. Abdul-Mannan Khan ***@***.**

[2021-04-08 17:40] anfederman commented on #113
raspi_config is pretty useless to configure ubuntu 20.04. I am pretty sure raspicam will work, even if raspi_config says it won't is start_x=1 and gpu_mem=128

Here are my install notes for the mmal component:

?sudo apt install chrony

????------optional---- suggest not using raspi-config on ubuntu------????
 sudo dpkg -i /tmp/raspi-config_20200601_all.deb
   10  sudo raspi-config   install userl

[2021-04-11 10:52] abdul-mannan-khan commented on #113
There was nothing in /opt folder. So, I followed your instructions and successfully copied vc folder from /snap/repi-userland/10/opt/.
I could see file libmmal.so in that folder and many other files like that. However, I am still getting this error

[code]

Thank you for your insightful help. I am really hoping that we could solve this. Thank you so much.

[2021-04-11 15:51] anfederman commented on #113
the mmal component error message may occur if you don't have group
permission to /dev/video0 -or- the camera is busted, cable not seated

ls -l /dev/video0
crw-rw----+ 1 root video 81, 0 Apr 11 08:29 /dev/video0

see if 1)   /dev/video0  exists
          2)   has group = video
          3    your default user has video group permission

you could test if it is a permission problem by trying sudo r

[2021-04-13 00:16] elpidiovaldez commented on #112
@anfederman Where are the notes that you referred to ?  I could really do with some help with this.  I have spent 2 long days trying to get raspicam_node to compile using raspberry pi os (Debian Buster 32 bit)/ROS Noetic, built from source.  It seems like an unending rabbit hole of unsatisfied dependencies.

[2021-04-13 00:47] anfederman commented on #112
Send your email address to ***@***.*** I will send my notes.

It took me two months to get it working.

On Mon, Apr 12, 2021, 5:16 PM elpidiovaldez ***@***.***>
wrote:

[2021-04-13 02:10] anfederman commented on #112
On second thought, I included them in the melodic upgrade thread.

On Mon, Apr 12, 2021, 5:16 PM elpidiovaldez ***@***.***>
wrote:

[2021-04-13 14:49] elpidiovaldez commented on #112
@anfederman I still can't find your notes - I looked under threads entitled 'Melodic ?' and all the threads mentioning 18.04. I'd still appreciate some guidance.

I am using 32 bit Raspberry Pi OS on a Pi3B (this should play fine with mmal).  After 2 days of slog, I got raspicam_node to compile.  I failed with the Ubiquity Robotics version, but succeeded with this [version](https://github.com/dgan

[2021-04-13 16:51] anfederman commented on #112
I am curious, does raspistill work?

My notes are for Ubuntu 20.04, so I am not sure if they will help, but
please let me send them to you directly. Send a request to
***@***.*** Ubiquity Discourse hides your email address.

If the node compiles, but does not run, this is most likely a ROS
dependency missing like image transport. If you are still having trouble,
we can schedule a zoom or Google me

[2021-04-13 18:13] anfederman commented on #112
I posted to ros answers.

On Tue, Apr 13, 2021 at 9:50 AM Alan Federman ***@***.***>
wrote:

[2021-04-13 23:03] elpidiovaldez commented on #112
@anfederman

raspistill and raspivid work fine.  The camera is functioning.  I have discovered that the raspicam_node also works, but it fails to start automatically.  If I use the command...

`rosservice call /raspicam_node/start_capture`

...then the node starts.  It does not seem to publish compressed images though.

I used 32 bit Raspberry Pi OS (the OS formerly known as Raspbian Buster) as my

[2021-04-15 03:01] elpidiovaldez commented on #112
I finally got the Ubiquity Robotics version of raspicam_node working on ROS Noetic/Raspberry Pi OS. This solution should work on Pi 3 and Pi 4.  It uses the Pi GPU via mmal and image compression, so it is fast.  It has taken me 5 days of pain to achieve this.  I hope this helps someone avoid the same ! The procedure is:

Install Raspberry Pi OS on sd card.

Install ROS from source using this [guid

[2021-04-15 11:03] anfederman commented on #112
Is this Arm32 or Arm64?

On Wed, Apr 14, 2021, 8:01 PM elpidiovaldez ***@***.***>
wrote:

[2021-04-16 00:04] elpidiovaldez commented on #112
uname -m reports the OS architecture as armv7l, which is a 32 bit architecture.

[2021-04-16 02:37] anfederman commented on #112
Thanks. For practical reasons we prefer sticking with Ubuntu, since it
easier to support via apt update and rosdep update. If you ever figure out
how to support mmal on Arm64, drop us a line.

On Thu, Apr 15, 2021, 5:04 PM elpidiovaldez ***@***.***>
wrote:

[2021-04-20 16:57] aladdinmck commented on #102
I've tried running '$ rosdep install --from-paths src --ignore-src --rosdistro=melodic -y'
and 'rosdep install --from-paths src --ignore-src -y' (without the --rosdistro=kinetic option) and it's not working.
E: Unable to locate package libraspberrypi-dev
I'm running Ubuntu 18.04 on RaspberryPi 3

[2021-04-20 20:13] anfederman commented on #102
Have you tried a standard apt install ros-melodic-desktop-full????

That should work depending on whixh version of Ubuntu you have on your Pi.

On Tue, Apr 20, 2021, 9:57 AM Aladdin Al-Khatib ***@***.***>
wrote:

[2021-04-23 22:06] abdul-mannan-khan commented on #113
Thank you so much @anfederman for your consistent support and insightful help. This problem is solved. Now, I can see my camera working. Thanks again.

[2021-04-23 22:06] #113 closed, assigned to nobody

[2021-05-21 18:25] ibaranov-cp opened #115 "cv_bridge conversion error: 'Image is wrongly formed"
Hello,

When trying to use ros image_proc to rectify the image, I get an error when I try to subscribed to the output rectified image:
cv_bridge conversion error: 'Image is wrongly formed: height * step != size  or  308 * 1230 != 399360'

Here's my launch file:
[code]
I can see that the topic /raspicam_node/image comes through at 30Hz, no issues.

Subscribing to /raspicam_node/image_rect generates

[2021-05-21 18:38] ibaranov-cp commented on #115
BTW, here's the output of rostopic echo --noarr /raspicam_node/image

[code]
So yes, data length is a bit odd...

[2021-05-21 19:03] ibaranov-cp commented on #115
Found a workaround, seems to be slightly more efficient anyway: Republish compressed images as raw image (slight loss of quality is fine for my use case).
Disable raspicam raw output, and add to launch file:

[code]

[2021-05-22 14:40] realizator commented on #115
..

This is not the raspicam_node issue, but the issue with the native MMAL RAW image capture used for Pi cameras.
Both the width and height of the image should be dividable by 16. If not - it's rounded up.
In your case:
**308**/16 = 19.25 ~~~> rounded up to 20, so the actual width of the captured image is **320**
**410**/16 = 25.625 ~~~> rounded up to 26, so the actual height of the captured imag

[2021-05-31 10:43] #115 closed, assigned to nobody

[2021-06-18 06:36] JesseCake commented on #112
Hmmm I spent the last 2 days solving this problem for a fresh install of Raspberry Pi OS lite (buster) and it seems there were some further problems beyond what was identified above. While I could switch to a 64 bit OS like Ubuntu and use the pre-built packages, we wouldn't be able to use MMAL to speed things along with the GPU, as the GPU as far as I know it is 32 bit, and it doesn't look like th

[2021-06-18 06:43] JesseCake opened #116 "Possible to split combined stereo cameras (Arducam etc)?"
As the title says, is there a possibility that this library could include image splitting capabilities and publishing to two separate topics?

Not all stereo cameras are created equal, and some that are quite handy and plug in nicely don't split out the stereo pair as separate sources, just a combined image.

Ideally what I'm looking for is the ability to slice the left and right sides of the imag

[2021-06-18 07:26] JesseCake commented on #41
Yes definitely!

[2021-06-18 09:55] sawan-flo opened #117 "no data over network"
Hello,
I'm running this package on ros noetic and ubuntu server 20.04 (no gui).
My problem is that I'm not getting any data over network on my laptop running noetic. I verified the data by 'echo' withing the pi terminal and it seems to be working fine.
My multi-machine network configuration is fine since my laptop is the master running roscore and i can even see list of topics being published by t

[2021-06-22 10:48] JesseCake commented on #112
Ok that was a lot to inhale, so I've blogged it instead in case it's of use for those trying to compile this great library for Raspberry Pi OS 32bit:
[Here is the blog](https://jessestevens.com.au/2021/06/22/compiling-and-installing-ros-noetic-and-compiling-raspicam-node-for-raspberry-pi-os-buster-for-accelerated-camera-capture/)

[2021-06-23 14:29] sawan-flo commented on #117
got it working. it was firewall issue.

[2021-06-23 14:29] #117 closed, assigned to nobody

[2021-06-29 06:07] zizhenli commented on #112
@anfederman  hi, could you please send the notes to me(zizhenli904@gmail.com)  by email that you referred to? I have spent many days trying to get raspicam_node to compile using raspberry pi os ROS Ubuntu 20.04 Noetic, built from source. it always occurs problems in the picture when doing [catkin-make.], so if possible I think the note will help me a lot.
![image](https://user-images.githubusercon

[2021-07-12 21:42] rohbotics commented on #112
Raspicam node is now released for Noetic, on images that have a working MMAL. It has been tested and works on our upcoming Ubuntu 20.04/ ROS Noetic 32bit Raspberry Pi image.

[2021-07-12 21:42] #112 closed, assigned to MoffKalast

[2021-07-23 00:47] JesseCake commented on #112
Wow thanks @rohbotics - this will help folks using 32bit Raspbian images - you're doing great work!

[2021-08-19 06:32] BojanAndonovski71 opened #118 "Video Latency of 3-4 seconds and is it possible to have a raw video/images instead of compressed?"
Hi Im using raspberry Pi 4 B and Camera Module V2 , so Im able to compile  and run it but even the law resolution and 30fps launch file has a Video Latency of 3-4 seconds. Is it possible to reduce it and have in some how real time? Is that because is compressed video/image or? Can i display as a raw video/image, would that help to reduce the Video Latency?

Thanks

[2021-09-01 16:52] alvgaona commented on #118
Hi @astronaut71, I've tested this on a Raspberry Pi 4 with a Raspberry Pi Camera Module v2.1. I was able to run the `kinetic` branch on a ROS Noetic distro, and I had no problem whatsoever with latency. The node is publishing at ~80 Hz for a 640x480 resolution. And, by the way, you can enable a raw image topic by setting the `enable_raw:=true` parameter.

[2021-09-01 17:01] alvgaona opened #119 "Noetic branch/tag"
Hey, is it possible to create a branch for the `noetic` distro? And, also, maybe a tag off of it.

Up to this moment, the `kinetic` branch compiles and runs successfully in `noetic`. It's quite confusing to people looking for a node to drive the Raspberry Pi Camera in Noetic. It'd be also quite interesting to publish it to [index.ros.org](https://index.ros.org/p/raspicam_node/github-UbiquityRoboti

[2021-09-01 17:52] anfederman commented on #119
raspicam_node does run in noetic on a raspberry pi  4/3 (Ubuntu 20.04) as
long as /opt/vc is built for ARM32.

sudo snap install rpi-userland –edge
sudo copy the userland/opt/vc from snap to *opt*/vc

(this installs the mmal libraries)  (after which  you should be able to run
raspistill, as long as your boot config.txt has

start_x=1

gpu_mem=128

Please note this will NOT work on the ARM64 versio

[2021-09-01 18:47] BojanAndonovski71 commented on #118
can you tell me what have you done to run it without any latency?

[2021-09-03 00:09] alvgaona commented on #119
Thanks, @anfederman, for the quick response. In order to have the camera running with `raspivid`, `raspistill`, and so on, you just need to install `libraspberrypi-dev` in Ubuntu 20.04. This installs MMAL libraries.

Lastly, I need to differ with you on:

Because I have `raspicam_node` working on ARM64 and Ubuntu 20.04.

Nevertheless, this is not what I was asking in this issue. The main reason of

[2021-09-03 00:14] alvgaona commented on #118
Nothing out of the ordinary @astronaut71. My set-up is Raspberry Pi 4 with a Raspberry Pi Camera Module v2.1 on Ubuntu Mate 20.04 with ROS Noetic. Let me correct myself on my last comment. This node only performs at ~45 Hz for a 640x480 resolution.

To allow my camera to work, I first had to install a few libraries by running:

[code]

One question though. When you refer to latency, is this someth

[2021-09-03 02:18] BojanAndonovski71 commented on #118
oh. Im not using Ubuntu mate. ROS melodic on Raspbian. I refer to a delay. At the delay is not fixed. Its increase with the time. FPS is fixed, its 30

[2021-09-03 23:59] anfederman commented on #119
Hmm - I did get raspicam_node to run on ARM64 - it catkin made, and I was able to run rqt_image_view.  There was an c++ error
during the make.  So I am not sure if mmal is working properly.  I will have to test further.  As far as ubiquityrobotics is concerned, if mmal works on ARM64, we will eventually release our 'noetic' deb.  Please contact Rohan about creating a noetic branch, but I am not su

[2021-09-03 23:59] #119 closed, assigned to nobody

[2021-09-07 17:50] alvgaona commented on #118
Why don't you try an arm64 architecture OS? Raspian OS is 32 bit.  Also, I believe ROS works much better with Debian based distros.

[2021-09-07 21:35] anfederman commented on #118
As far as I know raspicam_node can be built and run in ARM64 Rasperry Pi 4
Ubuntu 20.04.
The steps are to start with an Ubuntu 20.04 server sd card distro,  add
wifi via netplan configuration, lubuntu desktop and ros-noetic-desktop-full.
apt install libraspberrypi-dev and -bin.   make sure gpu_mem=128, start_x=1
in /boot/firmware/config.txt

After creating a catkin_ws   git clone the raspicam_node

[2021-09-22 17:54] anfederman opened #121 "Update needed?"
This still is at kinetic - does there need to be a noetic release?

[2021-10-01 15:09] alvgaona commented on #121
This is a duplicate of #119.

[2021-10-06 17:59] davidau8195 opened #122 "ROS Noetic Troubleshoot"
HI,

I am trying to install the packages for ROS Noetic in Ubuntu 20.04 for Raspicam Node.

I read your readme file and it mentions that I need to add the repository before running apt install ros-kinetic-node. I go to the website: https://packages.ubiquityrobotics.com/

I try to run the sudo apt-key adv ... command and got an error message saying keyserver received failed: No name.

Is there some

[2021-10-06 18:24] anfederman commented on #122
I don't understand. If you are running Noetic on a Raspberry Pi Ubuntu
20.04, Raspicam-node needs to be built in catkin. It should work on the
beta sd card image for ARM32, and I have built it on ARM64. You cannot
install it from Debs.

ALSO the old apt keys for Xenial expired, so we need to get those
regenerated. Apt upgrade is failing for Ubuntu 16.04. I am unclear what you
are attempting to do.

[2021-10-08 23:28] davidau8195 commented on #122
Thanks for the reply. Sorry, I am new to the ROS community. I manage to get the Raspicam-node packages from having built at the catkin.

I am not sure if this should be a new thread or continue this one:

I see that there is an existing issue with the following when building the Raspicam-node:

CMake Error at raspicam_node/CMakeLists.txt:30 (MESSAGE): Could not find mmal libraries

The only differ

[2021-10-09 02:05] anfederman commented on #122
I think this is an issue discussed on another thread in Ubiquity robotics
discourse. I will try to find the link to get the Raspicam node to compile
I am pretty sure it now can work on both Arm32 and ARM64 once the proper
libraries are installed. I am away from my computer, so I will give you the
recipe tomorrow.

On Fri, Oct 8, 2021, 4:29 PM David Au ***@***.***> wrote:

[2021-10-09 18:54] anfederman commented on #122
This is how I got raspicam_node working via catkin_make on ARM64.  This
should work for the ARM32 RPI as well,

though Idid get it working on ARM32 by a snap install of Rpi-userland and
copying the vclib files to /opt.  the key is making sure

raspistill is working before trying to install the raspicam node.

after a standard server install,  I did the following

added wifi, lubutu and assorted go

[2021-10-18 13:19] JanezCim commented on #122
had the same error when compiling raspicam_node on Noetic:
`CMake Error at raspicam_node/CMakeLists.txt:30 (MESSAGE): Could not find mmal libraries`
and rosdep could not solve this.

I solved it by simply installing
`sudo apt install libraspberrypi-dev libraspberrypi0`

@davidau8195 could you solve your problem like this?

[2021-10-18 20:00] davidau8195 commented on #122
@JanezCim

I just follow his later instruction:

I ran this before the source install the raspicam_node on Noetic:

`sudo apt install libraspberrypi-bin libraspberrypi-dev `

Also, I am currently using the ROS Noetic with Raspberry Pi 3B+. I didn't use the libraspberrypi0 but its bin instead.

[2021-10-19 08:21] JanezCim commented on #122
okay, and did that solve it in the end for you? If yes, we can close this issue :)

[2021-10-19 15:35] davidau8195 commented on #122
Yes. It works now.

[2021-10-19 15:35] #122 closed, assigned to nobody

[2021-10-28 07:28] anto1713 opened #123 "Enabling RAW"
Any idea how to enable raw when using raspicam_node?

i always use /raspicam_node/image/compressed.
how can i change the topic to /raspicam_node/image?
because i want uncompressed image

[2021-10-28 11:41] JanezCim commented on #123
have you tried enabling raw in the launch files?

https://github.com/UbiquityRobotics/raspicam_node/blob/99ccecfd5a56f798474d9f8c0b0a092f223dcc50/launch/camerav2_1280x720.launch#L2

[2021-10-29 02:11] anto1713 commented on #123
i enable raw by type
roslaunch `raspicam_node camerav2_1280x720.launch enable_raw:=true`
and the parameter says that `/raspicam_node/enable_raw: True`

and i enable the raw by manually edit, just like your comment
and launch `raspicam_node camerav2_1280x720.launch`
but the terminal says `Unable to convert 'bgr8' image for display: 'Image is wrongly formed: height * step != size  or  960 * 3840 !=

[2021-11-10 03:59] kminoda commented on #123
I got the same issue using camerav2_1640x1232.launch with `enable_raw=true`.
See https://github.com/UbiquityRobotics/raspicam_node/issues/84 for the solution.

[2021-11-16 13:37] realizator commented on #123
Guys, for the raw mode resolution to be dividable by 32 - this is the low-level sensor-specific.
**1280**/32 = 40 - it's Ok
**720**/32 = 22.5 - not Ok! Use either 32 * 23 = **736** or 32 * 22 = **704** instead of **720**.

[2021-11-23 20:36] pitosalas commented on #112
I just found this after struggling with solving it myself - to no avail!

Where can I find this release that works with Noetic? Or the ubiquity robotics raspy ubuntu 20.04 image that supports this? Thanks!

[2021-11-25 02:03] pitosalas commented on #119
Sorry to come in late. I don't know who send2arohan@gmail.com is but we still are stumped trying to get raspicam_node to run on noetic on Ubuntu 20.04. Is this a solved problem? I would really really appreciate a lead or tip here. At this point I feel like we've read everything on the web about this problem and are still stuck. Thanks for your help!

[2021-11-25 07:11] anfederman commented on #119
I am certain it works on raspberry pi arm32. Check the forum. It is a
matter of adding a library. I think it also works on arm64, but I need to
check. I am away from my computer. I forget the name of the library off the
top of my head. Had stumped for months.

On Wed, Nov 24, 2021, 6:03 PM Pito Salas ***@***.***> wrote:

[2021-11-25 10:03] roaz1801 commented on #112
Having the same issues as pitosalas.

[2021-11-25 11:20] MoffKalast commented on #112
Well I'm reasonably sure that this test image is capable of running the pi camera: https://forum.ubiquityrobotics.com/t/ubiquity-ros-noetic-raspberry-pi-image-beta/864

Not entirely sure how MMAL is set up on that one, but it's probably not too dissimilar than the old ones since it's still 32 bit. It's not clear if this merged branch has already made it into apt, but you know you can clone repos f

[2021-11-25 11:34] MoffKalast commented on #119
@pitosalas are you using a raspbian kernel or a stock ubuntu image from canonical?

[2021-11-25 14:43] alvgaona commented on #119
@pitosalas this already works in Ubuntu Mate 20.04 arm64 as I described above. This should not be any different from Canonical's image whatsoever.

[2021-11-26 23:41] Aringan0323 commented on #119
@alvgaona I'm working with @pitosalas on this project and we have been able to successfully access the camera and use the raspicam_node on arm32 but not on arm64. The Ubuntu installation we were initially using was [this one](https://emanual.robotis.com/docs/en/platform/turtlebot3/sbc_setup/#download-turtlebot3-sbc-image) from the Turtlebot3 user manual, and it don't believe it has the raspbian ke

[2021-11-27 00:07] anfederman commented on #119
sudo apt install libraspberrypi-bin libraspberrypi-dev

If you have a desktop then you can see if:

raspistill -o test.jpg

works.   raspicam_node should work after that.

Here are the notes for my build.  I am pretty sure pifi won't install on
arm64.

On Fri, Nov 26, 2021 at 3:41 PM Adam Ring ***@***.***> wrote:

Starting from a Pi ARM64 server install add wifi by  editing the netplan:

15  sudo

[2021-11-30 20:18] klaasg commented on #112
I just installed `raspicam_node` on **Ubuntu 20.04** with **ROS Noetic**.

1. **First make sure the camera works with the `raspistill` command.**
    I followed multiple tutorials for this and don't remember everything, but one key thing was putting the following lines in `/boot/firmware/config.txt` below `[all]`
[code]
    Test it with `raspistill -v -o test.jpg`

2. **`raspicam_node` build:**
[c

[2021-11-30 22:46] anfederman commented on #112
https://ubiquity-pi-image.sfo2.digitaloceanspaces.com/2021-08-06-focal.img.xz

I am not sure if this is a public beta release. Extract to a 32g. Some 16s
are too small.

On Tue, Nov 30, 2021, 12:19 PM Klaas Goethals ***@***.***>
wrote:

[2021-12-02 08:47] roaz1801 commented on #112
@klaasg Do you know which image you're using? Been trying to use the one for Raspberry Pi 3+ here: https://emanual.robotis.com/docs/en/platform/turtlebot3/sbc_setup/#sbc-setup

[2021-12-02 09:11] klaasg commented on #112
@roaz1801 The instructions I put here are instructions to build raspicam_node for a stock Ubuntu 20.04 32-bit image (from Raspberry Pi Imager) with `ros-noetic-ros-base` installed.

[2021-12-26 21:06] domhel opened #124 "Will this create a point cloud?"
Hello,
I am very new to this ROS world so this is probably a stupid question.
I have one Raspberry Pi Cam V2 and I want to use [PX4-Obstacle Avoidance](https://github.com/PX4/PX4-Avoidance#camera) which requires a point cloud at `/point_cloud`.
But I've seen that you have to have either a stereo camera or lidar for that, so this won't work?

Have I answered my own question or is it possible someho

[2021-12-27 00:48] anfederman commented on #124
That is correct you need a stereo or depth camera like an Xtion for a point
cloud. A picam  can be used with calibrated markers for navigation. Both
lidar and 3d cameras are now more affordable.

On Sun, Dec 26, 2021, 1:06 PM dippa-1 ***@***.***> wrote:

[2021-12-28 12:47] #124 closed, assigned to nobody

[2022-01-24 16:37] kmtm commented on #52
Wondering if anyone has implemented? I'm looking to capture images in BW to port into a CNN and would love to remove an intermediary step with cv2 if possible.

[2022-02-28 16:24] midoyondaime commented on #112
@roaz1801 I tried to follow your instructions , but when i execute this

`$ roslaunch raspicam_node camerav2_1280x960.launch`

i get this
![image](https://user-images.githubusercontent.com/92981792/156019327-559d6c27-74ba-44ea-8cfd-c23f7fa03791.png)

I tried to get some informations about the raspicam_node , but it seems it wasnt installed proprerly

`rosnode info raspicam_node`
![image](https://u

[2022-02-28 18:01] anfederman commented on #112
If you are building it catkin, please do a git branch and see which is current. Also check to see where ROS thinks raspicam_node is:  roscd raspicam_node.   Then see if the launch file is where ROS thinks it is. If all that checks out, maybe reinstall and catkin_make.

ubuntu@pi-focal:~$ roscd raspicam_node/
ubuntu@pi-focal:/opt/ros/noetic/share/raspicam_node$ ls
camera_info  cmake  launch  msg  p

[2022-03-01 00:05] anfederman commented on #112
I am not sure how you built your noetic ROS.
Assuming you are on a Pi 3 or 4, most likely you need to build it in
catkin. I don't think you can get raspicam from apt.

On Mon, Feb 28, 2022, 8:25 AM midoyondaime ***@***.***> wrote:

[2022-03-01 07:20] midoyondaime commented on #112
@anfederman  Thank you for your detailed explanation .
I figured out that i have not installed some dependencies , that s why i didnt work .
But now it works fine .
PS : i am using ubuntu 20.04 on a RPi 4B
Thanks again

[2022-03-03 22:07] pardhuAj commented on #83
Hi,
I am also facing the same issue. Were you able to figure it out?

[2022-03-03 22:55] anfederman commented on #83
The mmal libraries are needed by raspicam follow instructions to get
raspistill working on the raspberry pi.

Also I suggest you skip melodic and got to Noetic. There are instructions
on installing the needed drivers in discourse.

Raspicam has been shown to work on both arm 32 and 64 Ubuntu focal.

On Thu, Mar 3, 2022, 2:07 PM Pardha Sai Krishna Ala <
***@***.***> wrote:

[2022-03-10 15:46] Lashhev commented on #116
#41

[2022-03-17 09:15] tzigalcad opened #125 "18.04 with ROS melodic - raspicam_node fails"
Can someone upload detailed instructions, on how to use the raspicam_node with ROS melodic, the already uploaded instructions (...ignore....) are not working for me, I might downgrade from melodic to kinetic, but before doing so, I would like to check if there is another solution, Thanks in advance.

[2022-03-17 09:21] fabiocyro commented on #110
Hello, maybe it's a little bit late and you already found your solution but this will work (i hope xD):

First add this PPA:

`sudo add-apt-repository ppa:ubuntu-pi-flavour-makers/ppa`

Then:
`sudo apt-get update`

Install:
`sudo apt install libraspberrypi-bin`

To test, do this on your Raspberry:
`raspistill -v -o test.jpg`

If everything works well, the camera will show up for a few seconds and

[2022-03-17 09:24] fabiocyro commented on #125
Hello, I just commented something similar on another issue #110 . Maybe it will help you also :)

[2022-03-17 09:28] fabiocyro commented on #119
Hello, I have raspicam_node working with Ubuntu 20.04 and on a turtlebot3 also.

It works normally.

Unfortunally i'm having trouble to make it work with a package called Autorace haha

[2022-03-17 10:20] anfederman commented on #125
See this issue in ubiquity robotics discourse. First get raspistill to
work. The node works in melodic, noetic, arm32, arm64.

On Thu, Mar 17, 2022, 2:24 AM Fábio Ribeiro ***@***.***>
wrote:

[2022-03-18 19:08] tzigalcad opened #126 "" sudo apt install libraspberrypi-bin" is giving me an error"
Hello fabiocyro,

after trying the steps that you've suggested, it is giving me an error:

E: Unable to locate package libraspberrypi-bin

Any Suggestions ?

Thanks

[2022-03-23 19:28] anfederman opened #127 "Upgrading to noetic branch?"
As far as I can tell, the kinetic branch works in noetic, and the only thing that needs changing is the documentation.  We need to explain the different camera mounting points and whether the camera is flipped in breadcrumb relative to the standard Magni Silver upward/forward/ahead.

[2022-03-31 12:50] Mdmorshadurrahman opened #128 "[error] No Disparity images and synchronized triplets received in 'image_view'"
Receiving images from both the cameras but not getting disparity images as well as synchronized triplets.

rosrun image_view stereo_view stereo:=/stereo image:=image_rect _approximate_sync:=True _queue_size:=2000
[ INFO] [1648727963.521988615]: Subscribing to:
	* /stereo/left/image_rect
	* /stereo/right/image_rect
	* /stereo/disparity
[ WARN] [1648727978.592653685]: [stereo_view] Low number of syn

[2022-03-31 14:54] JanezCim commented on #127
you are right, i've updated README and created branch noetic-devel. Can you please take a look and confirm its good for you https://github.com/UbiquityRobotics/raspicam_node/tree/noetic-devel . Then we can set it as default branch.

I dont think this belongs under this repo since this only concerns camera drivers

[2022-03-31 14:58] #121 closed, assigned to nobody

[2022-03-31 17:05] anfederman commented on #127
NO this is not good for me.   raspicam_flip branch is closer to being correct. While the noetic_devel branch will give you an image, I don't think it works as is for fiducials, because the camera oreintation is likely to break fiducial_follow, dnn_rotate and I can't seem to make it work in magni_nav aruco_detect.

[2022-04-01 20:35] anfederman commented on #127
I got raaspicam_flip working on ARM64 server, once gdm3, Lubuntu and the
the bin and lib were added.

On Thu, Mar 31, 2022, 7:54 AM Janez Cimerman ***@***.***>
wrote:

[2022-04-13 13:56] ricemilk456 commented on #110
Hello,

My SBC is Raspberry Pi4B and my camera is rpi camera v2,
I use ubuntu 18.04 preinstalled server arm64 as my SBC OS,
and my ROS version is melodic.

I have successfully installed the raspicam_node package into my ros system and successfully use the rpi camera for video streaming, the following practices are for your reference and may be helpful to you.

First,
you need to build opencv yours

[2022-04-14 13:21] Shiyu-Liu commented on #110
Hello,
Thanks a lot for the continuing replies. Just to follow up. Actually I solved my problem by bypassing the issue... because from some time I upgraded my system to Raspberry Pi 4B with Ubuntu Mate 20.04, on which the compilation of raspicam_node is surely not working. But there is a ros-support package [v4l2_camera](https://index.ros.org/r/v4l2_camera/) working as a more friendly alternative.

[2022-04-14 13:21] #110 closed, assigned to nobody

[2022-04-26 14:42] dorkamotorka opened #129 "Increasing framerate zooms the video stream"
On camerav2_410x308_30fps.launch increasing framerate from 30 to 40 is fine, but changing it to 41, zooms the video stream.

[2022-08-06 20:09] Lmixq commented on #106
I have the same problem. I listed the published topics and echo them. They are there. But I can't view on rviz and rqt by WSL and XLaunch. Have you solved it?

[2022-08-07 01:05] anfederman commented on #106
Make sure both ROS_IP and ROS_MASTER_URI are expressed as IP numbers, not
named.

Example on workstation:

   export  ROS_IP=10.0.0.24,

   export  ROS_MASTER_URI=http://10.0.0.105:11311

On Sat, Aug 6, 2022, 1:10 PM Lmixq ***@***.***> wrote:

[2022-08-26 20:17] SaailN opened #130 "Issue while building raspicam_node package on ros noetic in rpi with 64 bit raspbian OS"
I tried building the package from source with ros noetic in rpi4 with 64 bit, downloaded all dependencies and libraries but while building catkin_make it builds completely but giving following error at the end:
 ```/usr/bin/ld: /opt/vc/lib/libmmal.so: error adding symbols: file in wrong format```
Also libmmal library is installed.
![error](https://user-images.githubusercontent.com/40292489/1869838

[2022-08-26 22:16] anfederman commented on #130
instructions attached to build mmal library

On Fri, Aug 26, 2022 at 1:17 PM SaailN ***@***.***> wrote:

[2022-08-27 05:34] SaailN commented on #130
@anfederman Could u tell where are the instructions?
libmmal library is already installed and its executable is present in /opt/vc/lib.
 As per my findings( ref: https://github.com/raspberrypi/firmware/issues/1558#issuecomment-983483179) libmmal is not supported on rpi 64 bit, and libcamera is the supported solution.

[2022-08-27 12:03] anfederman commented on #130
If everything was built, then you should be able to run raspistill. If not,
Raspicam won't work. Make sure that the vclib that gets built in snap gats
copied to /opt.  I have Raspicam working on a pi4 in both ARM32 and ARM64
Ubuntu 20.04 Noetic. It took me many months to get it to work on 64.

Please be aware that Raspicam node will be deprecated and won't work on
Ubuntu 22.

On Fri, Aug 26, 2022,

[2022-08-27 12:09] anfederman commented on #130
The instructions were attached as a odt document. Odt uses the libre office
which emulates Ms office for Linux.

On Sat, Aug 27, 2022, 5:03 AM Alan Federman ***@***.***> wrote:

[2022-08-27 14:06] SaailN commented on #130
I am using raspbian os 64 bit. `raspistill` is not working with 64bit version. (ref: https://forums.raspberrypi.com/viewtopic.php?t=285868). Also rpi cam v2 is working fine with `libcamera-hello` command and picamera2 python module.

[2022-08-27 18:40] anfederman commented on #130
I built on started with Ubuntu ARM64 server, not Raspian. I will translate my instructions to text and send the build from scratch instructions.

[2022-08-28 00:07] anfederman commented on #130
I am sending notes as an attachment in .txt format.  You should be able to
copy/paste commands to build the Image.

On Sat, Aug 27, 2022 at 7:06 AM SaailN ***@***.***> wrote:

starting from ubuntu 20.04 SERVER image sd card!

FIRST STEPS>

First login  with a screen and keyboard mouse, forces a password change from ubuntu!

https://itsfoss.com/connect-wifi-terminal-ubuntu/   install wifi

install

[2022-10-31 05:34] fpadula commented on #129
Hi, I'm having the same issue. Any updates?